

<script type="text/x-template" id="message-list">
  <div class="message-list" v-show="!error">
    <div class="messages__new" @click="load">
      <span class="messages__new-lamp" v-show="newCount">Новые
      +<b>{{newCount}}</b>
      </span>
    </div>
    <div class="messages__next" @click="loadNext" v-show="more">
      <span class="btn btn-default btn-xs">Следующие</span>
    </div>
    <div class="messages" v-if="count">
      <template  v-for="(item, index) in messages">
        <list-date :list="messages" :index="index"/>
        <message-item
          :item="item"
          :index="index"
          :count="count"
          :alert="attention"
          :key="index"
          @admit="admit"
          @remove="remove"
          @set-new="setNew"/>
      </template>
    </div>
    <div class="messages__loader" v-show="!error && !response">
      <span>
        <img src="/static/img/icon/mess_loader.gif" v-show="toSlow" style="display: none;">
        Загружаем
      </span>
    </div>
  </div>
</script>
