
.message-dialog {
    display: flex;
    flex: 1 1 auto;
    border: 0px solid gray;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    height: 100%;
    &__history {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        flex: 1 1 auto;
        overflow: hidden;
        overflow-x: hidden;
        overflow-y: auto;
    }
    &__tools {
        flex: none;
        border-top: 1px solid @gray;
        background: @light;
    }
}

.send-form {
    position: relative;
    display: flex;
    width: 100%;
    // min-height: 64px;
    border: 0px solid red;
    align-items: flex-end;
    &__textarea {
        flex: 1 1 auto;
        border: 0px solid gray;
        padding: 7px 0;
        line-height: 1;
        align-self: center;
    }
    &__message-text {
        height: 0;
        overflow: auto;
        min-height: 36px;
        padding: 10px 5px;
        font-size: 14px;
        margin: auto;
        overflow-y: hidden;
        resize: vertical;
    }

    &__button {
        &-send {
            cursor: pointer;
            flex: 0 0 auto;
            color: @dark-light;
            padding: 0 10px 12px;
        }
        &-account {
            cursor: pointer;
            flex: 0 0 auto;
            color: @dark-light;
            padding: 0 10px 12px;
        }
    }

    i {
        vertical-align: bottom;
    }
}


