
<div id="settings">
  <router-view @close="$router.go(-1)" @warning="snackbar" @alert="toast"></router-view>

  <snackbar v-if="warning" @close="warning = null">{{warning}}</snackbar>
  <toast v-if="alert" @close="alert = null">{{alert}}</toast>
</div>


<!-- build:include ../core/vue-components.htm --><!-- /build -->
<!-- build:include dialogs/inform-dialog.htm --><!-- /build -->

<!-- build:include dialogs/captcha-dialog.htm --><!-- /build -->

<!-- build:include js-libs.htm --><!-- /build -->
