<alert-widget inline-template>
  <div class="container alert-widget" @click="compact = (compact == false)">
    <div class="alert-widget__wrapper" :class="{compact: compact}">
      Сайт полностью бесплатен и создан для общения.
      Если вам кто-то предложит что-либо оплатить,
      <a href="/блог/как-подать-жалобу-модераторам/" rel="nofollow" target="_blank">сообщите нам</a>
      любым способом. Предложение интим услуг на сайте запрещено.
      Пожалуйста, не «ложите» деньги на телефон,
      на интернет, не делайте денежных переводов, это
      <a href="/блог/как-не-попасть-на-уловки-мошенников/" rel="nofollow" target="_blank">
       уловки мошенников</a>. Не нарушайте законов,
      <a href="/блог/как-не-стать-жертвой-шантажа/" rel="nofollow" target="_blank">шантаж</a>.
      Отправляйте фото
      <a href="/блог/сохраняйте-анонимность/" rel="nofollow" target="_blank">сохраняя анонимность</a>.

      <div class="additional">
        Только реальные анкеты. Проверить действительность анкетных данных или реальность намерений очень просто,
        предложив обменяться адресами страниц вконтакте или одноклассников,
        при помощи видеозвонка Skype или позвонив собеседнику предварительно спросив номер телефона.
        Также легко можно
        <a href="/блог/проверить-подлинность-фотографии/" rel="nofollow" target="_blank">проверить подлинность фото</a>.
      </div>

    </div>
  </div>
</alert-widget>

<div class="container freedom-alert-1">
  <a href="http://rev.freedomsex.info/" target="_blank" rel="nofollow noopener noreferrer">
    У вас уже почти нет свободы. Здоровье под угрозой. Жизнь ваших детей в опасности. <span class="link_simple">Подробнее...</span>
  </a>
</div>

  <div class="addthis_inline_share_toolbox" style="margin: 20px 0 0px; min-height: 35px; text-align: center;"></div>

  <div class="more-information">
   <span class="more-information__link" @click="$router.push('/content/rules/ru')">Правила сайта</span><i>·</i>
   <a class="more-information__link" rel="nofollow" href="/блог/регистрация-автоматическая/" target="_blank">Регистрация автоматическая</a><i>·</i>
   <a class="more-information__link" rel="nofollow" href="/блог/как-найти-девушку-или-парня-для-секса/" target="_blank">Способ знакомства</a><i>·</i>
   <a class="more-information__link" rel="nofollow" href="/блог/как-пользоваться-сайтом/" target="_blank">Как пользоваться сайтом</a><i>·</i>

   <a class="more-information__link" rel="nofollow" href="/блог/соглашение-о-предоставлении-услуг/" target="_blank">Пользовательское соглашение</a><i>·</i>
   <span class="more-information__link" @click="$router.push('/content/deal/confidencial/ru')">Конфиденциальность</span><i>·</i>
   <span class="more-information__link" @click="$router.push('/content/deal/slander/ru')">Номер телефона и клевета</span><i>·</i>
   <a class="more-information__link" rel="nofollow" href="/10336" target="_blank">Помощник по сайту</a><i>·</i>

   <a class="more-information__link" rel="nofollow" href="/блог/реклама-на-сайте/" target="_blank">Реклама на сайте</a><i>·</i>
   <span class="more-information__link" @click="$router.push('/promo/envelop')">Написать разработчикам</span><i>·</i>
   <a class="more-information__link" href="//cats-x.com" target="_blank" rel="nofollow noopener noreferrer">Версия с котиками</a>
  </div>

  <div class="extra-information">
    <span class="extra-information__link" @click="$router.push('/content/careers/ru')">Проекту нужна помощь</span>
    <span class="extra-information__link" @click="$router.push('/content/careers/ru')">Работа и вакансии</span>
  </div>

  <div style="text-align: center; margin: 10px 0 0;">
    <a class="nav-table_git-link" href="https://github.com/freedomsex/freedomsex" target="_blank" rel="nofollow"></a>
  </div>

  <div class="more-information" style="margin-top: 15px;">
    <a class="more-information__link" href="//runetki.com/461230/" target="_blank" rel="nofollow noopener noreferrer">
        При поддержке <span style="color: #f78f00;">Runetki.com</span>
    </a>
  </div>
