<alert-widget inline-template>
  <div class="container alert-widget" @click="compact = (compact == false)">
    <div class="alert-widget__wrapper" :class="{compact: compact}">
      Сайт полностью бесплатен и создан для общения.
      Если вам кто-то предложит что-либо оплатить,
      <a href="/блог/как-подать-жалобу-модераторам/" rel="nofollow" target="_blank">сообщите нам</a>
      любым способом. Предложение интим услуг на сайте запрещено.
      Пожалуйста, не «ложите» деньги на телефон,
      на интернет, не делайте денежных переводов, это
      <a href="/блог/как-не-попасть-на-уловки-мошенников/" rel="nofollow" target="_blank">
       уловки мошенников</a>. Не нарушайте законов,
      <a href="/блог/как-не-стать-жертвой-шантажа/" rel="nofollow" target="_blank">шантаж</a>.
      Отправляйте фото
      <a href="/блог/сохраняйте-анонимность/" rel="nofollow" target="_blank">сохраняя анонимность</a>.

      <div class="additional">
        Только реальные анкеты. Проверить действительность анкетных данных или реальность намерений очень просто,
        предложив обменяться адресами страниц вконтакте или одноклассников,
        при помощи видеозвонка Skype или позвонив собеседнику предварительно спросив номер телефона.
        Также легко можно
        <a href="/блог/проверить-подлинность-фотографии/" rel="nofollow" target="_blank">проверить подлинность фото</a>.
      </div>

    </div>
  </div>
</alert-widget>

<div class="container freedom-alert-1">
  <a href="http://rev.freedomsex.info/" target="_blank" rel="nofollow noopener noreferrer">
    У вас уже почти нет свободы. Здоровье под угрозой. Жизнь ваших детей в опасности. <span class="link_simple">Подробнее...</span>
  </a>
</div>

  <div class="addthis_inline_share_toolbox" style="margin: 20px 0 0px; min-height: 35px; text-align: center;"></div>

  <div style="text-align: center; margin: 5px auto; max-width: 750px; padding: 0 5px;">

   <a class="info-table__link" rel="nofollow" href="/rules.php" target="_blank">Правила сайта</a>
   <a class="info-table__link" rel="nofollow" href="/блог/регистрация-автоматическая/" target="_blank">Регистрация автоматическая</a>
   <a class="info-table__link" rel="nofollow" href="/блог/как-найти-девушку-или-парня-для-секса/" target="_blank">Способ знакомства</a>
   <a class="info-table__link" rel="nofollow" href="/блог/как-пользоваться-сайтом/" target="_blank">Как пользоваться сайтом</a>

   <a class="info-table__link" rel="nofollow" href="/блог/соглашение-о-предоставлении-услуг/" target="_blank">Пользовательское соглашение</a>
   <a class="info-table__link" rel="nofollow" href="/10336" target="_blank">Помощник по сайту</a>

   <a class="info-table__link" rel="nofollow" href="/блог/реклама-на-сайте/" target="_blank">Реклама на сайте</a>
   <a class="info-table__link" rel="nofollow" href="/envelope.htm" target="_blank">Написать разработчикам</a>
  </div>

  <div style="text-align: center; margin: 10px 0 40px;">
    <a class="nav-table_git-link" href="https://github.com/freedomsex/freedomsex" target="_blank" rel="nofollow"></a>
  </div>
