
 <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
 <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>

<script src="https://unpkg.com/json3@3.3.2"></script>
<script src="http://underscorejs.org/underscore-min.js"></script>
<script src="https://unpkg.com/moment@2.17.1/min/moment.min.js"></script>
<script src="https://unpkg.com/moment@2.17.1/locale/ru.js"></script>

<script src="https://unpkg.com/vue@2.1.10/dist/vue.js"></script>
<script src="https://unpkg.com/vuex@2.0.0/dist/vuex.js"></script>
<script src="https://unpkg.com/axios@0.15.3/dist/axios.min.js"></script>
<script src="https://unpkg.com/vue-resource@1.0.3/dist/vue-resource.js"></script>

<script type="text/javascript" src="%%JS_FILE%%"></script>
<!-- Исходники можно найти в репозитории. Тамже собранные не сжатые файлы -->
