<!-- build:[src]:dev /static/js/jquery/ -->
 <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
 <!-- /build -->
 <!-- build:[src]:dev /static/js/jquery-ui/ -->
 <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
 <!-- /build -->
<!-- build:[src]:dev /static/js/core.js -->
<script type="text/javascript" src="/static/js/core.min.js"></script>
 <!-- /build -->

<script src='https://www.google.com/recaptcha/api.js?render=explicit' async defer></script>

<!-- Исходники можно найти в репозитории. Там же собранные не сжатые файлы -->
