


<initial-dialog v-if="initial" quick="true" @close="close"></initial-dialog>
<intimate-dialog v-if="intimate" @close="close"></intimate-dialog>
<sends-dialog v-if="sends" @close="close"></sends-dialog>

<!--<div id="router-view">
<router-view @close="close"></router-view>
</div>-->

<upload-dialog  @close="close" v-if="view == 'upload'"></upload-dialog>
<photo-dialog   @close="close" v-if="view == 'photo'"></photo-dialog>
<messages-activity @close="close" v-if="view == 'history'"></messages-activity>

<api-key-update></api-key-update>

<search-settings v-if="searchSettings" @close="searchSettings = false; search()" @account="openAccountSettings()"></search-settings>
<account-settings v-if="accountSettings"
  @close="accountSettings = false"
  @settings="otherSettings = true"
  @login="logIn = true"></account-settings>
<sex-confirm v-if="sexConfirm" :show="sexConfirm" @close="sexConfirm = false"
  @select="selectSex"
  @login="logIn = true"></sex-confirm>
<login-account v-if="logIn" @close="logIn = false"></login-account>
<other-settings v-if="otherSettings" @close="otherSettings = false"
  @security="securitySettings = true"
  @desires="desiresSettings = true"
  @social="socialSettings = true"
  @about="aboutSettings = true"></other-settings>
<security-settings v-if="securitySettings" @close="securitySettings = false" @warning="showSnackbar" @alert="showToast"></security-settings>
<desires-settings v-if="desiresSettings" @close="desiresSettings = false"></desires-settings>
<social-settings v-if="socialSettings" @close="socialSettings = false"></social-settings>
<about-settings v-if="aboutSettings" @close="aboutSettings = false"></about-settings>

<snackbar v-if="warning" @close="warning = null">{{warning}}</snackbar>
<toast v-if="alert" @close="alert = null">{{alert}}</toast>

<!-- Статические опции, absolute -->
 <div id="option-static" style="display: none;">
   <div id="option-static__cover">
     <div id="option-static__loader"></div>
   </div>
   <div id="option-static__wrapper">
     <div id="option-static__container"></div>
     <div id="option-static__close">Закрыть</div>
   </div>
 </div>
