
<div id="router-view">
  <router-view @close="$router.go(-1)" @warning="showSnackbar" @alert="toast"></router-view>
</div>

<api-key-update></api-key-update>

<snackbar v-if="snackbar.text"
  :callback="snackbar.callback"
  :action="snackbar.action"
  :play="snackbar.play"
  @close="snackbar.text = null">{{snackbar.text}}</snackbar>

<toast v-if="alert" @close="alert = null">{{alert}}</toast>

<!-- Статические опции, absolute -->
 <div id="option-static" style="display: none;">
   <div id="option-static__cover">
     <div id="option-static__loader"></div>
   </div>
   <div id="option-static__wrapper">
     <div id="option-static__container"></div>
     <div id="option-static__close">Закрыть</div>
   </div>
 </div>
