
<div id="option-static__viewer">
  <upload-dialog></upload-dialog>
  <photo-dialog></photo-dialog>
</div>

<script type="text/x-template" id="option-static__dialog-window">
  <div class="option-dialog" v-if="show">
    <div class="option-dialog__cover">
      <div class="option-dialog__loader"></div>
    </div>
    <div class="option-dialog__wrapper" @click="close">
      <div class="option-dialog__container" @click.stop>
        <slot></slot>
      </div>
      <div class="option-dialog__close" @click.stop="close">
        Закрыть
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
      </div>
    </div>
  </div>
</script>

<!-- Статические опции, absolute -->
 <div id="option-static" style="display: none;">
   <div id="option-static__cover">
     <div id="option-static__loader"></div>
   </div>
   <div id="option-static__wrapper">
     <div id="option-static__container"></div>
     <div id="option-static__close">Закрыть</div>
   </div>
 </div>
