<search-wizard inline-template>
  <div id="search-wizard">
    <div @click="$router.push('/settings/search')" style="display: none;" v-show="say">
      <i class="material-icons">&#xE8B4;</i>
      Вы ищете: <span v-text="say"></span> &nbsp;
      <div class="clearfix visible-xs"></div>
      <button class="btn btn-primary btn-sm">
        <span aria-hidden="true" class="glyphicon glyphicon-cog"></span>
        Настроить поиск
      </button>
      <button class="btn btn-default btn-sm" @click.stop="$router.push('/settings/desires')">
        <span aria-hidden="true" class="glyphicon glyphicon-flash"></span>
        Желания ({{desires}})
      </button>
    </div>
  </div>
</search-wizard>