<search-wizard inline-template>
  <div id="search-wizard">
    <div class="alert alert-warning" style="min-height: 62px;" @click="$router.push('/search/settings/search')">
        <p v-show="say" style="display: none;">
          <i class="material-icons">&#xE8B4;</i>
          Вы ищете: {{say}} &nbsp;
          <button class="btn btn-primary btn-sm">
              <span aria-hidden="true" class="glyphicon glyphicon-cog"></span>
              Настроить поиск
          </button>
      </p>
    </div>
  </div>
</search-wizard>