

<div>
  %%SHAB_JS_CLONE_ELEM%%
</div>

<!-- Ответить всем, блок -->
<div style=" position: absolute; left: 10px; top: 45px; z-index: 177;">
      <div class="new_message reply_mess" style="display: none;">
       <div class="title">Ответить сразу всем.</div>
       <div class="close">X</div>
       <div class="bunn">Все</div>
       <div class="abuse_list_hint" style="padding-left: 15px; margin: 0px 0px 0px  0px;"><i class="abuse_agree"></i>
       Отметьте похожие сообщения</div>
       <div class="notes" style="padding: 0 10px; font-size: 12px; overflow:  hidden;
        "> </div>
       <textarea style=" margin: 10px 10px 5px; width: 254px; min-height: 40px;"></textarea>

       <div class="" style="padding: 0px 10px 15px; ">
         <input class="post" value="Ответить" type="button" style="font-size: 10px;">

       </div>
      </div>
</div>

<!-- Я модератор, блок -->
<div id="moder_block" style="display: none;" >
  <div id="moder_block_close" class="" style="position: absolute; right: 10px; top: 5px; font-size: 15px; color: #999;">X</div>
  <div id="moder_block_inner" class="" style=""></div>

  <div id="" class="" style=""></div>
</div>

<!-- Редактирование контактов, элемент -->
<div id="edit_cont_elem" style="display: none;">
  <input id="edit_human_name" type="text" placeholder="Имя" style="width: 150px;">
  <input id="edit_human_btn"  type="submit" value=" Сохранить ">
</div>
