
<script type="text/x-template" id="quick-reply">
  <modal-dialog :show="show" @close="close">
    <div class="human-dialog__caption">
      Быстрый ответ
      <div class="human-dialog__option">
        <span aria-hidden="true" class="glyphicon glyphicon-thumbs-down" @click="confirm = 'doit'"></span>
        <span aria-hidden="true" class="human-dialog__option-remove glyphicon glyphicon-trash" @click="confirm = 'must'"></span>
      </div>
    </div>
    <div class="human-dialog__body">
      <div class="human-dialog__desire" v-show="human">
        <span class="link_simple" v-for="(tag, index) in tags" :key="index">{{tag}} &#8226; </span>
      </div>
      <div class="human-dialog__message">
        {{message}}
      </div>
    </div>


    <div class="message-input">
    <table border="0" style="width: 100%;">
        <tr>
          <td style="width: 40px;">
            <a :href="'/' + item.human_id" class="message-input__button-account" style=""></a>
          </td>
          <td>
            <textarea class="message-input__texarea" rows="1" placeholder="Введите текст" v-model="text" v-resized></textarea>
          </td>
          <td style="width: 40px;">
            <div class="message-input__button-send" @click="send"></div>
          </td>
        </tr>
      </table>
    </div>
    <attention-wall :show="hold" @close="cancel" @remove="remove"/>
    <loading-wall :show="loading"/>
    <loading-cover :show="process"/>

    <remove-confirm :show="confirm" @bun="bun" @close="cancel" @remove="remove"/>
    <captcha-dialog :show="captcha" @close="close" @cancel="cancel" @send="setCode"/>
  </modal-dialog>
</script>

