
<script type="text/x-template" id="photo-settings">
  <closed-activity @close="close">
    <span slot="caption">Отправить фото</span>
    <div class="activity-section">
      <div class="galery-photo" v-show="photos.length" style="display: none;">
        <img class="galery-photo__item" :src="item._links.galery.href" v-for="(item, index) in photos" @click="show(index)">
      </div>
    </div>

    <div class="activity-section">
      <div class="upload_photo__add">
        <button class="btn btn-primary" @click="upload">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          Добавить
        </button>
        <input id="fileupload" type="file" name="file" data-form-data='{"script": "true"}'>
      </div>
    </div>

    <modal-dialog @close="photoAlert = false" v-if="photoAlert">
      <div class="modal-dialog__wrapper">
        <div class="modal-dialog__body">
          Загрузите новое фото. Для предупреждения использования чужих фото,
          загрузить повторно может не получиться, даже если фото ваше.
        </div>
        <div class="modal-dialog__footer">
          <button class="btn btn-primary btn-flat" @click="photoAlert = false">
            Хорошо
          </button>
        </div>
      </div>
    </modal-dialog>

  </closed-activity>
</script>
