<registration-promo v-if="!$store.state.user.sex"></registration-promo>
<bottom-nav v-else></bottom-nav>

<alert-widget inline-template>
  <div class="container alert-widget">
    <div class="row">
      <div class="alert-widget__wrapper" :class="{compact: compact}" @click.self="compact = (compact == false)">
        Сайт полностью бесплатен и создан для общения.
        Если вам кто-то предложит что-либо оплатить,
        <a href="http://docs.freedomsex.info/blog/#/Как-пользоваться/?id=Как-подать-жалобу" rel="nofollow" target="_blank">сообщите нам</a>
        любым способом. Предложение интим услуг на сайте запрещено.
        Пожалуйста, не «ложите» деньги на телефон,
        на интернет, не делайте денежных переводов, это
        <a href="http://docs.freedomsex.info/blog/#/Как-пользоваться/Осторожно-мошенники" rel="nofollow" target="_blank">
         уловки мошенников</a>. Не нарушайте законов,
        <a href="http://docs.freedomsex.info/blog/#/Как-пользоваться/?id=Как-не-стать-жертвой-шантажа" rel="nofollow" target="_blank">шантаж</a>.
        Отправляйте фото
        <a href="http://docs.freedomsex.info/blog/#/Как-пользоваться/?id=Сохраняйте-анонимность" rel="nofollow" target="_blank">сохраняя анонимность</a>.

        <div class="additional">
          Только реальные анкеты. Проверить действительность анкетных данных или реальность намерений очень просто,
          предложив обменяться адресами страниц вконтакте или одноклассников,
          при помощи видеозвонка Skype или позвонив собеседнику предварительно спросив номер телефона.
          Также легко можно
          <a href="http://docs.freedomsex.info/blog/#/Как-пользоваться/Где-фотографии?id=Как-проверить-фото" rel="nofollow" target="_blank">проверить подлинность фото</a>.
        </div>
      </div>
    </div>
  </div>
</alert-widget>

<div class="container freedom-alert-1">
  <a href="//fapbook.me/" target="_blank" rel="nofollow">
    Сохраните лучшее порно или эротические фото для себя. Смотрите их в любой момент <span class="link_simple">Подробнее...</span>
  </a>
</div>

  <div class="addthis_inline_share_toolbox" style="margin: 20px 0 0px; min-height: 35px; text-align: center;"></div>

  <div class="more-information">
   <span class="more-information__link" @click="$router.push('/content/rules/ru')">Правила сайта</span><i>·</i>
   <a class="more-information__link" rel="nofollow" href="http://docs.freedomsex.info/blog/#/Как-пользоваться/?id=Регистрация-автоматическая" target="_blank">Регистрация автоматическая</a><i>·</i>
   <a class="more-information__link" rel="nofollow" href="http://docs.freedomsex.info/blog/#/Способ-знакомства/" target="_blank">Способ знакомства</a><i>·</i>
   <a class="more-information__link" rel="nofollow" href="http://docs.freedomsex.info/blog/#/Как-пользоваться/" target="_blank">Как пользоваться сайтом</a><i>·</i>
   <a class="more-information__link" rel="nofollow" href="http://docs.freedomsex.info/blog/#/Соглашение" target="_blank">Пользовательское соглашение</a><i>·</i>

   <a class="more-information__link" rel="nofollow" href="http://docs.freedomsex.info/blog/#/Конфиденциальность" target="_blank">Конфиденциальность</a><i>·</i>
   <a class="more-information__link" rel="nofollow" href="http://docs.freedomsex.info/blog/#/Номер-телефона-и-клевета" target="_blank">Номер телефона и клевета</a><i>·</i>
   <span class="more-information__link" @click="$router.push('/settings/question')">Помощь по сайту</span><i>·</i>

   <span class="more-information__link" @click="$router.push('/help/adverts/ru')">Реклама на сайте</span><i>·</i>
   <span class="more-information__link" @click="$router.push('/settings/envelop')">Написать разработчикам</span><i>·</i>
   <a class="more-information__link" href="http://freedomsex.info/" target="_blank" rel="nofollow noopener noreferrer">Форум сообщества</a><i>·</i>
   <a class="more-information__link" href="http://cats-x.com" target="_blank" rel="nofollow noopener noreferrer">Версия с котиками</a>
  </div>

  <div class="extra-information">
    <span class="extra-information__link" @click="$router.push('/content/careers/ru')">Проекту нужна помощь</span>
    <span class="extra-information__link" @click="$router.push('/content/careers/ru')">Работа и вакансии</span>
  </div>


  <div style="text-align: center; margin: 10px 0 0;">
    <a class="nav-table_git-link" href="https://github.com/freedomsex/freedomsex" target="_blank" rel="nofollow"></a>
  </div>

  <div class="more-information" style="margin-top: 5px;">
    <a class="more-information__link" href="http://bongacams2.com/track?c=567852" target="_blank" rel="nofollow noopener noreferrer">
      При поддержке <span style="color: #f78f00;">BongaCams.com</span>
    </a>
  </div>

  <div class="notation">
    Защита от спама <a href="https://www.google.com/recaptcha" target="_blank" rel="nofollow">reCAPTCHA</a> <i>·</i>
   <a class="notation__link" rel="nofollow" href="https://www.google.com/intl/ru/policies/privacy/" target="_blank" rel="nofollow">Конфиденциальность</a> <i>·</i>
   <a class="notation__link" rel="nofollow" href="https://www.google.com/intl/ru/policies/terms/" target="_blank" rel="nofollow">Условия использования</a>
  </div>
