<div style="min-height: 220px; background-image: url('~static/img/header-bg.png'); background-position: center; background-size: cover; position: relative; background-color: #cccccc;">
  <div style="padding: 10px 15px 7px; font-size: 16px; color: #333; position: absolute; bottom: 0; left: 0; right: 0; background-color: rgba(255, 255, 255, 0.55); text-transform: uppercase; color: #FFF; font-weight: bold;">
    Быстрые секс знакомства
  </div>

  <div style="padding: 10px 10px 7px;  font-size: 14px; color: #FFF; position: absolute; top: 0; left: 0; right: 0; ">
    <div style="background-color: rgba(255, 255, 255, 0.3); border-radius: 3px; padding: 4px 7px 4px 4px; display: inline-block;">
      <div style="padding: 2px 3px;  border: 1px solid #fff;  border-radius: 3px; display: inline-block;">RU</div>
      Русский
    </div>

  </div>
</div>

<div style="padding: 15px 15px 15px; position: relative; ">
  Самые быстрые секс знакомства без СМС. Реальные знакомства при помощи обычных объявлений.
  Общение без купюр, виртуальный секс, обмен эротическими фотографиями онлайн.
</div>
