<script src='https://www.google.com/recaptcha/api.js?render=explicit' async></script>

<script type="text/javascript" src="//unpkg.com/moment@2.22.1/moment.js"></script>
<script type="text/javascript" src="//unpkg.com/moment@2.22.1/locale/ru.js"></script>

<script type="text/javascript">
// var addthis_config = {"data_track_addressbar":false};
//     addthis_config.data_track_addressbar = false;
//     addthis_config.data_track_clickback = false;
</script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-593e8bd77e5130d5" async></script>


<!-- Исходники можно найти в репозитории. Там же собранные несжатые файлы -->
<!-- Исходники можно найти в репозитории. Там же собранные несжатые файлы -->
<!-- Исходники можно найти в репозитории. Там же собранные несжатые файлы -->
