<!-- <script src='https://www.google.com/recaptcha/api.js?onload=recaptchaLoad&render=explicit' async></script> -->
<script src='https://www.google.com/recaptcha/api.js?render=6LdLtqsUAAAAAGJqPSXbPI15hsVih30moVc_rQ4Z'></script>

<script type="text/javascript" src="//unpkg.com/moment@2.22.1/moment.js"></script>
<script type="text/javascript" src="//unpkg.com/moment@2.22.1/locale/ru.js"></script>

<script type="text/javascript">
// var addthis_config = {"data_track_addressbar":false};
//     addthis_config.data_track_addressbar = false;
//     addthis_config.data_track_clickback = false;
</script>

<!-- Исходники можно найти в репозитории. Там же собранные несжатые файлы -->
<!-- Исходники можно найти в репозитории. Там же собранные несжатые файлы -->
<!-- Исходники можно найти в репозитории. Там же собранные несжатые файлы -->
