<div style="border-left: 1px solid #e5e5e5; padding-left: 10px;">

  <div class="account-section">
    <div class="btn btn-primary" @click="$router.push('write/' + humanId)">Написать сообщение</div>
  </div>

  <div class="account-section">
    <a class="btn btn-xs btn-link" href="/">Секс знакомства</a><br>
    <a class="btn btn-xs btn-link" href="/%%CITY%%">Секс знакомства %%CITY%%</a><br>
    <a class="btn btn-xs btn-link" href="/Девушки">Девушки для секса</a><br>
    <a class="btn btn-xs btn-link" href="/%%CITY%%/Девушки">Девушки %%CITY%%</a><br>
    <a class="btn btn-xs btn-link" href="/Парни">Парни для секса</a><br>
    <a class="btn btn-xs btn-link" href="/%%CITY%%/Парни">Парни %%CITY%%</a><br>

    <span class="btn btn-xs btn-link" @click="$router.push('/settings/envelop')">Написать разработчикам</span><br>
    <span class="btn btn-xs btn-link" @click="$router.push('/content/rules/ru')">Правила сайта</span><br>
  </div>
</div>
