  <slider-footer inline-template>
    <div class="slider-footer container">
      <div class="row">
        <div class="col-md-12 slider-footer__item" v-show="slide == 1">
          Сайт быстрых знакомств с мгновенной и автоматической регистрацией.
          Для регистрации достаточно просто зайти на сайт.
          Здесь легко познакомиться с парнем или девушкой для секса
          или вести общение на интимные темы, обмениваться
          эротическими фотографиями. Найти партнёра
          для анонимного виртуального секса.
        </div>
        <div class="col-md-12 slider-footer__item" v-show="slide == 2">
          С помощью реальных текстовых объявлений можно
          познакомиться для секса или общения с парнем или девушкой
          из своего дома или дома напротив. Общайтесь сохраняя 100% анонимность,
          обменивайтесь любыми фотографиями при желании прямо в сообщениях.
        </div>
        <div class="col-md-12 slider-footer__item" v-show="slide == 3">
          Все загруженные фотографии имеют статус "Приват".
          Увидеть их сможет лишь тот, кому вы их отправите.
          От посторонних ваши фото скрыты и увидеть их кто-либо другой не сможет.
          Без модераторов, ваши фотографии скрыты от посторонних.
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 slider-footer__pages">
          <span class="slider-footer__link" :class="{active: slide == 1}"
           @click="slide = 1">1</span>
          <span class="slider-footer__link" :class="{active: slide == 2}"
           @click="slide = 2">2</span>
          <span class="slider-footer__link" :class="{active: slide == 3}"
           @click="slide = 3">3</span>
        </div>
      </div>
    </div>
  </slider-footer>
