
.hint-info {
    background: @light;
    //border: 1px solid @gray-light;
    color: @dark;
    margin-bottom: 10px;
    padding: 10px 15px;
}

.default-activity {
    .menu-user {
        max-width: @activity-width;
        margin-left: 0;
        margin-right: auto;
    }

    position: fixed;
    background: rgba(0, 0, 0, .2);

    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;

    top: 0px;
    bottom: 0;
    max-width: 750px;
    overflow: hidden;
    z-index: 1;

    //border: 3px solid #CCC;
    //border-width: 0 3px;

    &__title {
        font-weight: bolder;
        line-height: 20px
    }
    &__wrapper {
        position: relative;
        height: ~"calc(100% - 50px)";
        max-height: 650px;
        margin-bottom: 1px;
        overflow: hidden;
        max-width: @activity-width;
        background: @white;
        border: 1px solid @gray;
        border-top: 0;
        box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
        overflow-x: hidden;
        overflow-y: auto;
    }
    &__container {
        display: flex;
        height: 100%;
    }
    &__content {
        padding: @indent-md @indent-lg @indent-md;
    }
}