.desire-tag__item {
    background-color: @white;
    background-image: url(/static/img/icon/desire_corner.png);
    background-position: left top;
    background-repeat: no-repeat;
    border-radius: @radius-xs;
    border: 1px solid @gray-light;
    color: @dark-light;
    cursor: pointer;
    display: inline-block;
    font-size: @font-sm;
    font-style: normal;
    margin-bottom: @indent-xs;
    margin-right:  @indent-xs;
    padding: @indent-xs @indent-xs+2;
    line-height: 1;
}