
<script type="text/x-template" id="account-activity">
  <default-activity @close="close">
    <span slot="caption">Анкета</span>
    <div key="humanId">
      <div class="human-info">
        <div class="human-info__general">
          <span class="human-info__name">{{human.name}}</span>
          <span class="human-info__age">{{human.age}} лет</span>
        </div>

        <div>
          <span class="human-info__city">{{human.city}}</span>
        </div>

        <div class="human-info__search">Ищет девушку в возрасте до 60 лет</div>

        <div class="human-info__status">
          <span class="elem_online" title="Сейчас на сайте ">oнлайн</span>
          <span class="human-info__loader"></span>
        </div>

        <div class="human-info__about"> Я парень обычного телосложения. </div>
        <div class="human-info__measure">Мой рост: 185 см, вес: 80 кг</div>

        <div class="account-section">
          <div class="account-section__header">У меня есть</div>
          <div class="human-social">
            <i class="human-social__email">Емайл</i>
            <i class="human-social__vkontakte">Вконтакте</i>
            <i class="human-social__google-plus">Google-plus</i>
            <i class="human-social__odnoklassniki">Одноклассники</i>
            <i class="human-social__facebook">Facebook</i>
          </div>
        </div>

        <div class="human-contacts">
          <div><i class="human-contacts__phone">Обязательно позвоню или дам номер телефона</i></div>
          <div><i class="human-contacts__skype">Согласен на видеозвонок или видеочат по скайпу</i></div>
        </div>

        <div class="account-section" v-if="tags.length">
          <div class="account-section__header">Мои желания и фантазии</div>
          <div class="desire-tag__list">
            <desire-tag-item v-for="(item, index) in tags" :key="index"
              :item="item"></desire-tag-item>
          </div>
        </div>

        <div>
          <button class="btn btn-default">Присланные фотографии</button>
        </div>

        <div id="incoming-photo">
          <div class="incoming-photo__list" style="display: none;"></div>
          <div class="incoming-photo__placeholder">
            Присланные фотографии будут здесь
          </div>
        </div>

      </div>
    </div>
  </default-activity>
</script>



<script type="text/x-template" id="closed-activity">
  <div class="closed-activity" @click.self="close">
    <nav id="menu-user" class="navbar navbar-inverse">
      <div class="menu-user">
        <div class="menu-user__wrapper">
          <div class="menu-user__navbar"></div>
          <div class="menu-user__navbar-right" @click="close">
            <i class="btn-close material-icons" @click="close">&#xE14C;</i>
          </div>
        </div>
      </div>
    </nav>
    <div class="closed-activity__wrapper">
      <slot></slot>
    </div>
  </div>
</script>



<script type="text/x-template" id="default-activity">
  <div class="default-activity" @click.self="close">
    <nav id="menu-user" class="navbar navbar-inverse">
      <div class="menu-user">
        <div class="menu-user__wrapper">
          <div class="menu-user__logo">
            <span id="home_page" class="" style="padding: 10px 0px;" @click="close">
              <img src="/static/img/icon/arrow_back.png" width="30" height="30" alt="" border="0" >
            </span>
          </div>
          <div class="menu-user__navbar" >
            <div class="navbar-title" @click="$emit('close')">
              <slot name="caption">Заголовок</slot>
            </div>
          </div>
        </div>
      </div>
    </nav>
    <div class="default-activity__wrapper">
        <slot></slot>
    </div>
  </div>
</script>



<script type="text/x-template" id="messages-activity">
  <default-activity @close="close">
    <span slot="caption">Сообщения</span>
    <div class="message-dialog" key="humanId">
      <div id="dialog-history" class="message-dialog__history">
        <message-list :humanId="humanId" ref="messages"></message-list>
      </div>
      <div class="message-dialog__tools">
        <div class="send-form">
          <div class="send-form__button-account" @click="account = humanId">
            <i class="material-icons">&#xE853;</i>
          </div>
          <div class="send-form__textarea">
            <textarea class="send-form__message-text" v-model="message" autofocus v-resized
             :disabled="process == true" :placeholder="process ? 'Отправляю...' : 'Введите текст'"
             @keyup.ctrl.enter.prevent="sendMessage"></textarea>
          </div>
          <div class="send-form__button-send" @click="sendMessage" v-if="message">
            <i class="material-icons">&#xE163;</i>
          </div>
          <div class="send-form__button-send" @click="uploads = true" v-else>
            <i class="material-icons">&#xE3B0;</i>
          </div>
        </div>
      </div>
    </div>
    <account-activity :humanId="account" v-if="account" @close="account = false"/>
    <photo-settings v-if="uploads" @select="select" @close="uploads = false"/>
    <photo-send v-if="photo" :photo="photo" :options="true" @send="sendMessage" @close="photo = false"/>

    <captcha-dialog v-show="captcha" @close="close" @cancel="cancel" @send="setCode"/>
  </default-activity>
</script>



<script type="text/x-template" id="api-key-update">
  <div></div>
</script>


<script type="text/x-template" id="attention-wall">
  <modal-dialog @close="close">
    <div class="attention-wall">
      <div class="attention-wall__content">
        <div class="attention-wall__caption">{{caption}}</div>
        <div class="attention-wall__text">{{text}}</div>
        <div class="attention-wall__option">
          <button class="btn btn-primary btn-sm" @click="remove">Удалить контакт</button>
          <button class="btn btn-link btn-sm" @click="close">Продолжить просмотр</button>
        </div>
      </div>
    </div>
  </modal-dialog>
</script>

<script type="text/x-template" id="captcha-dialog">
  <modal-dialog @close="close">
    <div class="captcha-dialog__caption">
      Подтвердите
      <a href="/блог/простые-проверки/" target="_blank" aria-hidden="true" class="glyphicon glyphicon-info-sign"></a>
    </div>
    <div class="captcha-dialog__body">
      <div class="human-dialog__desire">
        Введите код с картинки
      </div>
      <div class="input-group" style="max-width: 300px;">
        <span class="captcha-dialog__addon input-group-addon captcha-img__addon">
          <span aria-hidden="true" class="glyphicon glyphicon-arrow-right"></span>
        </span>
        <span class="captcha-dialog__addon input-group-addon captcha-img__addon">
          <img class="form-message__captcha-img" :src="src" width="48" height="20" @click="update">
        </span>
        <input class="form-control" type="text" autocomplete="off" v-model="code">
      </div>
    </div>

    <div class="captcha-dialog__option">
      <button class="btn btn-default" @click="close">
        Вернуться
      </button>
      <button class="btn btn-warning" @click="send">
        Отправить
      </button>
    </div>

    <div class="human-dialog__form">

    </div>
  </modal-dialog>
</script>


<script type="text/x-template" id="city-suggest">
  <div class="city-suggest-ed">
    <input class="city-suggest-ed__input form-control" type="text" autocomplete="off"
      v-model="query" @keyup="load()">
    <ul class="dropdown-menu" v-show="suggested">
      <li v-for="(item, index) in cities" :key="index" @click="select(item)"><a href="#" @click.prevent>{{item}}</a></li>
    </ul>
  </div>
</script>

<script type="text/x-template" id="initial-dialog">
  <default-activity @close="close">
    <span slot="caption">Знакомства</span>
    <div class="contact-list" v-if="count">
      <contact-item v-for="(item, index) in contacts" :key="index"
        :item="item"
        :index="index"
        :quick="quick"
        @bun="bun"
        @read="read"
        @close="close"
        @sended="splice"
        @remove="remove"/>
    </div>
    <div class="contact-list__next">
      <div class="btn btn-default btn-xs" @click="next()" :disabled="response == false" v-show="more"> Следующие </div>
    </div>
  </default-activity>
</script>


<script type="text/x-template" id="intimate-dialog">
  <default-activity @close="close">
    <span slot="caption">Общение</span>
    <div class="contact-list" v-if="count">
      <contact-item v-for="(item, index) in contacts" :key="index"
        :item="item"
        :index="index"
        :quick="quick"
        @bun="bun"
        @read="read"
        @dialog="dialogOpen"
        @close="close"
        @sended="splice"
        @remove="remove"/>
    </div>
    <div class="contact-list__next">
      <div class="btn btn-default btn-xs" @click="next()" :disabled="response == false" v-show="more"> Следующие </div>
    </div>
    <messages-activity @close="dialogClose" :humanId="dialog" v-if="dialog"/>
  </default-activity>
</script>


<script type="text/x-template" id="contact-item">
  <div class="contact-list__item">
    <div class="contact-list__item-content" @click.stop="show">
      <div class="contact-list__item-info">
        <span class="user-list__name">{{name}}</span><span v-show="age || city">,</span>
        <span class="user-list__age" v-show="age">{{age}}</span>
        <span class="user-list__city" v-show="city">{{city}}</span>
      </div>
      <div class="contact-list__item-preview">

        <span class="contact-item__status-read" v-if="unread"></span>
        <span aria-hidden="true" class="glyphicon glyphicon-chevron-left contact-item__status-send" v-else v-show="sent"></span>

        <span class="contact-item__message">{{message}}</span>
      </div>
    </div>
    <div class="contact-list__item-option">
      <span :class="0 ? 'message-item__bunn-alert' : 'message-item__bunn'"
        v-show="!sent" @click="confirmBun">
        <span aria-hidden="true" class="glyphicon glyphicon-thumbs-down"></span>
      </span>
      <span class="message-item__remove" @click="confirmRemove">
        <span aria-hidden="true" class="glyphicon glyphicon-remove"></span>
      </span>
    </div>


    <remove-contact v-show="confirm"
      @bun="bun"
      @close="cancel"
      @remove="remove"/>
    <quick-reply v-if="detail"
     :message="message"
     :humanId="item.human_id"
      @sended="sended"
      @close="close"/>
  </div>
</script>


<script type="text/x-template" id="desire-tag-item">
  <div class="desire-tag__item">{{item}}</div>
</script>

<script type="text/x-template" id="email-sended">
  <modal-dialog @close="$emit('close')">
    <div class="modal-dialog__wrapper">
      <div class="modal-dialog__caption">
        Письмо отправлено
      </div>
      <div class="modal-dialog__body">
        <div class="modal-dialog__section">
          Доставка письма занимает от секунды до нескольких минут.
          Если письма долго нет - проверьте папку спам, особенно если ваша почта на «Gmail».
        </div>
        <div class="modal-dialog__section">
          <a href="/блог/восстановление-пароля/" target="_blank">Что делать если писимо не пришло &raquo;</a>
        </div>
      </div>
    </div>
  </modal-dialog>
</script>



<script type="text/x-template" id="inform-dialog">
  <option-dialog @close="close">
    <div class="contact-dialog">
      <div class="option_tab">
        <div align="left" class="option_cap">
          <slot name="caption">Заголовок</slot>
        </div>
        <div class="tab_context" v-if="hasContext">
          <slot name="context">Описание</slot>
        </div>
        <div class="option_loader">
          <div class="option_loader__label" v-show="loader"></div>
          <div class="option_loader__alert" v-show="alert"></div>
        </div>
        <slot></slot>
        <div class="hint_context" v-show="hint" v-if="hasHint">
          <slot name="hint">Подсказка</slot>
        </div>
      </div>
    </div>
  </option-dialog>
</script>


<script type="text/x-template" id="loading-cover">
  <div class="loading-cover" v-if="show">
    <div class="loading-cover__wrapper">
      <div class="loading-cover__loader">{{loader}}...</div>
    </div>
  </div>
</script>



<script type="text/x-template" id="loading-wall">
  <div class="loading-wall" v-if="show">
    <div class="loading-wall__wrapper">
      <div class="loading-wall__loader" v-show="hope">{{loader}}...</div>
    </div>
  </div>
</script>



<script type="text/x-template" id="messages-item">
<div class="message-item" @mouseleave="showOption = false">
  <div class="message-item__date" v-if="date">
    <span>{{date}}</span>
  </div>
  <div class="message-item__spliter" v-show="!previous"></div>
  <div :class="[sent ? 'message-item__sent' : 'message-item__received']">
    <div class="message-item__balloon" @mouseover="showOption = true" @click="fix">
      <div v-if="image" class="message-image" :style="{ backgroundImage: 'url('+image+')' }">
        <div class="message-image__play" @click="play">
          <img src="/static/img/icon/play.png">
        </div>
        <span class="message-image__info">
          <span class="message-image__status" v-show="!read"></span>
          <span class="message-image__time">{{time}}</span>
        </span>
      </div>
      <span v-else>
        <span v-html="item.mess"></span>
        <span class="message-info">
          <span class="message-info__status" v-show="!read"></span>
          <span class="message-info__time">{{time}}</span>
        </span>

      </span>


    </div>
    <span :class="attention ? 'message-item__bunn-alert' : 'message-item__bunn'"
      v-show="!sent && option" @click="showDialog = sent ? 'some' : 'doit'">
      <span aria-hidden="true" class="glyphicon glyphicon-thumbs-down"></span>
    </span>
    <span class="message-item__remove" v-show="option" @click="showDialog = sent ? 'some' : 'must'">
      <span aria-hidden="true" class="glyphicon glyphicon-remove"></span>
    </span>
  </div>
  <remove-confirm v-show="showDialog"
    :data="item"
    @bun="bun"
    @close="cancel"
    @remove="remove"/>

  <photo-send v-if="photo" :photo="photo" @close="photo = false"/>
</div>
</script>




<script type="text/x-template" id="message-list">
  <div class="message-list" v-show="!error">
    <div class="messages__new" v-on:click="load">
      <span class="messages__new-lamp" v-show="newCount" style="display: none;">Новые
      +<b>{{newCount}}</b>
      </span>
    </div>
    <div class="messages__next" v-on:click="load" v-show="more" style="display: none;">
      <span class="btn btn-default btn-xs">Следующие</span>
    </div>
    <div class="messages">
      <message-item v-for="(item, index) in items"
        :item="item"
        :index="index"
        :count="messages.length"
        :alert="attention"
        :uid="uid"
        :key="index"
        @admit="admit"
        @remove="remove"
        @set-new="setNew"
      ></message-item>
    </div>
    <div class="messages__loader" v-show="!error && !response">
      <span>
        <img src="/static/img/icon/mess_loader.gif" v-show="toSlow" style="display: none;">
        Загружаем
      </span>
    </div>
  </div>
</script>

<script type="text/x-template" id="modal-dialog">
  <div class="modal-dialog__mask" transition="modal" @click="close">
    <div class="modal-dialog__container" @click.stop>
      <slot></slot>
    </div>
  </div>
</script>

<script type="text/x-template" id="modal-super">
  <div class="modal-super__mask" transition="modal" @click="$emit('close')">
    <div class="modal-super__container" @click.stop>
      <slot></slot>
    </div>
  </div>
</script>


<script type="text/x-template" id="option-static__dialog-window">
  <div class="option-dialog">
    <div class="option-dialog__cover">
      <div class="option-dialog__loader"></div>
    </div>
    <div class="option-dialog__wrapper" @click="close">
      <div class="option-dialog__close" @click.stop="close">
        Закрыть
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
      </div>
      <div class="option-dialog__container" @click.stop>
        <slot></slot>
      </div>
    </div>
  </div>
</script>


<script type="text/x-template" id="photo-send">
  <div class="photo-send__mask" transition="modal" @click="close">
    <div class="photo-send__container" @click.stop>

      <div class="close-self-button">
        <i class="material-icons" @click="close"></i>
      </div>
      <photo-view :photo="photo.photo" :thumb="photo.thumb" :maxWidth="600" @close="close"/>
      <div class="photo-send__options" v-show="options">
        <button class="btn btn-default" @click="remove = true">
          <span aria-hidden="true" class="glyphicon glyphicon-trash"></span>
          Удалить
        </button>
        <button class="btn btn-primary" @click="$emit('send')">
          <span aria-hidden="true" class="glyphicon glyphicon-send"></span>
          Отправить
        </button>
      </div>
      <toast v-if="remove" @close="remove = false">Временно недоступно</toast>
      <slot></slot>
    </div>
  </div>
</script>


<script type="text/x-template" id="photo-view">
  <div class="photo-view" :style="{ backgroundImage: 'url('+thumb+')' }">

    <modal-dialog @close="close" v-if="!accept">
      <div class="modal-dialog__wrapper">
        <div class="modal-dialog__caption">
          Контроль содержания отсутствует
        </div>
        <div class="modal-dialog__body">
          У администраторов нет доступа к загружаемым фото.
          Внимание! Изображения могут иметь возрастные ограничения. Пожалуйста, подтвердите
          что вы имеете право продолжить просмотр.
        </div>
        <div class="modal-dialog__footer">
          <button class="btn btn-success" @click="approve">
            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            Подтверждаю
          </button>
        </div>
      </div>
    </modal-dialog>
    <div v-else>
      <img :src="photo" :style="{ maxWidth: maxWidth +'px' }">
    </div>
  </div>
</script>



<script type="text/x-template" id="quick-message">
  <modal-dialog @close="close">
    <div class="human-dialog__caption">
      Написать сообщение
    </div>
    <div class="human-dialog__body">
      <div class="human-dialog__desire" v-show="tags.length">
        <span class="link_simple" v-for="(tag, index) in tags" :key="index" v-show="tag">{{tag}} &#8226; </span>
      </div>
      <div class="human-dialog__warning" v-show="warning">
        {{warning}}
      </div>
    </div>


    <div class="message-input">
      <textarea class="message-input__texarea" rows="1" placeholder="Введите текст" v-model="text" v-resized></textarea>
        <button class="btn btn-primary" @click="send()">Отправить</button>
        <button class="btn btn-link" @click="anketa()">Читать полностью...</button>
    </div>
    <loading-wall :show="loading"/>
    <loading-cover :show="process"/>
    <attention-wall :show="hold" v-if="hold" @close="cancel" @remove="remove"/>

    <captcha-dialog v-show="captcha" @close="close" @cancel="cancel" @send="setCode"/>
  </modal-dialog>
</script>



<script type="text/x-template" id="quick-reply">
  <modal-dialog @close="close">
    <div class="human-dialog__caption">
      Быстрый ответ
    </div>
    <div class="human-dialog__body">
      <div class="human-dialog__desire" v-show="tags.length">
        <span class="link_simple" v-for="(tag, index) in tags" :key="index" v-show="tag">{{tag}} &#8226; </span>
      </div>
      <div class="human-dialog__message" v-show="message">
        {{message}}
      </div>
    </div>


    <div class="message-input">
      <textarea class="message-input__texarea" rows="1" placeholder="Введите текст" v-model="text" v-resized></textarea>
        <button class="btn btn-primary" @click="send()">Отправить</button>
        <button class="btn btn-link" @click="anketa()">Читать полностью...</button>
    </div>
    <loading-wall :show="loading"/>
    <loading-cover :show="process"/>
    <attention-wall :show="hold" v-if="hold" @close="cancel" @remove="remove"/>

    <captcha-dialog v-show="captcha" @close="close" @cancel="cancel" @send="setCode"/>
  </modal-dialog>
</script>


<script type="text/x-template" id="remind-login">
  <modal-dialog @close="close">
    <div class="modal-dialog__wrapper">
      <div class="modal-dialog__caption">
        Восстановить пароль
      </div>
      <div class="modal-dialog__body">
        <div class="modal-dialog__section">
          Напоминание возможно только по подтвержденному вами ранее адресу электронной почты.
        </div>
        <div class="modal-dialog__section">
          <div class="form-inline">
            <input class="form-control" type="email" name="email" v-model="email" placeholder="Ваш емайл адрес">
          </div>
        </div>
        <div class="modal-dialog__section">
          {{hint}}
        </div>
      </div>
      <div class="modal-dialog__footer">
        <button class="btn btn-primary" @click="send"> Отправить </button>
      </div>
    </div>
    <email-sended v-show="confirm" @close="$emit('close')"></email-sended>
  </modal-dialog>
</script>


<script type="text/x-template" id="remove-confirm">
  <modal-dialog @close="close">
    <div class="modal-dialog__wrapper">
      <div class="modal-dialog__caption">
        {{caption}}
      </div>
      <div class="modal-dialog__body">
        {{text}}
      </div>
      <div class="modal-dialog__footer">
        <button class="btn btn-primary" @click="bun()" v-if="show == 'doit'">{{action}}</button>
        <button class="btn btn-danger" @click="remove()" v-else>{{action}}</button>
        <button class="btn btn-default" @click="close()">Отмена</button>
      </div>
    </div>
  </modal-dialog>
</script>



<script type="text/x-template" id="account-settings">
  <closed-activity @close="close">
    <div class="activity-section">
      <div class="activity-section__title">Мой город:</div>
      <div class="form-inline">
        <city-suggest :value="city" @select="saveCity"/>
      </div>
    </div>

    <div class="activity-section">
      <div class="activity-section__title">Кто вы:</div>
      <div class="radio">
        <label class="radio-inline">
          <input type="radio" v-model="selectSex" :value="2" @change="saveSex">
          Девушка
        </label>
        <label class="radio-inline">
          <input type="radio" v-model="selectSex" :value="1" @change="saveSex">
          Парень
        </label>
      </div>
    </div>

    <div class="activity-section">
      <div class="activity-section__title">Возраст:</div>
      <div class="form-inline">
        <select class="form-control" v-model="selectAge" @change="saveAge">
          <option v-for="(item, index) in 80" :value="item" >{{item ? item : ''}}</option>
        </select>
      </div>
    </div>

    <div class="activity-section">
      <div class="activity-section__title">Имя:</div>
      <div class="form-inline">
        <input class="form-control" type="text" v-model="selectName" @blur="saveName" placeholder="Ваше имя">
      </div>
    </div>

    <div class="activity-section">
      <a class="" href="/profile.php" target="_blank">Другие настройки</a>
    </div>

  </closed-activity>
</script>


<script type="text/x-template" id="login-account">
  <closed-activity @close="close">
    <div class="activity-section">
      <div class="activity-section__title">Ваш логин</div>
      <div class="form-inline">
        <input class="form-control" type="text" v-model="login" placeholder="Введите логин">
      </div>
    </div>

    <div class="activity-section">
      <div class="activity-section__title">Пароль</div>
      <div class="form-inline">
        <input class="form-control" type="text" v-model="password" placeholder="Введите пароль">
      </div>
    </div>

    <div class="activity-section" v-show="error && captcha">
      <div class="activity-section__title">Код</div>
      <simple-captcha @input="setCode"></simple-captcha>
    </div>

    <div class="activity-section">
      <button class="btn btn-primary" @click="send"> Войти </button>
      <button class="btn btn-link" @click="remind = true"> Не помню </button>
    </div>

    <div class="activity-section">
      {{hint}}
    </div>
    <remind-login v-if="remind" @close="remind = false"></remind-login>
  </closed-activity>
</script>


<script type="text/x-template" id="photo-settings">
  <closed-activity @close="close">
    <div class="activity-section">
      <div class="activity-section__title">Фотографии</div>
      <div class="galery-photo" v-show="photos.length" style="display: none;">
        <img class="galery-photo__item" :src="item._links.galery.href" v-for="(item, index) in photos" @click="show(index)">
      </div>
    </div>

    <div class="activity-section">
      <div class="upload_photo__add">
        <button class="btn btn-primary" @click="upload">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          Добавить
        </button>
        <input id="fileupload" type="file" name="file" data-form-data='{"script": "true"}'>
      </div>
    </div>
  </closed-activity>
</script>


<script type="text/x-template" id="search-settings">
  <closed-activity @close="close">
    <div class="activity-section">
      <div class="activity-section__title">Мой город:</div>
      <div class="form-inline" @click="account">
        <input class="form-control" type="text" :value="city" disabled>
        <button class="btn btn-default"> Изменить </button>
      </div>
    </div>

    <div class="activity-section">
      <div class="activity-section__title">Кого вы ищете:</div>
      <div class="radio">
        <label class="radio-inline">
          <input type="radio" v-model="selectWho" :value="2">
          Девушку
        </label>
        <label class="radio-inline">
          <input type="radio" v-model="selectWho" :value="1">
          Парня
        </label>
        <label class="radio-inline">
          <input type="radio" v-model="selectWho" :value="0">
          Кого угодно
        </label>
      </div>
    </div>

    <div class="activity-section">
      <div class="activity-section__title">Возраст:</div>
      <div class="form-inline">
        <div class="input-group">
          <div class="input-group-addon">От</div>
          <select class="form-control" v-model="selectUp">
            <option v-for="(item, index) in ageRange" :value="item" >{{item ? item : ''}}</option>
          </select>
        </div> &nbsp; - &nbsp;

        <div class="input-group">
          <div class="input-group-addon">До</div>
          <select class="form-control" v-model="selectTo"">
            <option v-for="(item, index) in ageRange" :value="item" >{{item ? item : ''}}</option>
          </select>
        </div>
      </div>
    </div>

    <div class="activity-section">
      <label style="display: block;"><input type="checkbox" v-model="checkedTown">
        Только в моём городе</label>
      <label style="display: block;"><input type="checkbox" v-model="checkedVirt">
        Виртуальный секс</label>
    </div>

    <div class="activity-section">
      <a class="" href="http://freedomsex.me/блог/как-найти-девушку-или-парня-для-секса/" target="_blank">Больше возможностей</a>
    </div>

  </closed-activity>
</script>

<script type="text/x-template" id="sex-confirm">
  <modal-dialog @close="close">
    <div class="modal-dialog__wrapper">
      <div class="modal-dialog__caption">
        {{caption}}
      </div>
      <div class="modal-dialog__body">
        {{text}}
      </div>
      <div class="modal-dialog__centred">
        <button class="btn btn-primary btn-fat" @click="save(2)">   Девушка   </button>
        <button class="btn btn-primary btn-fat" @click="save(1)">   Парень   </button>
      </div>
    </div>
  </modal-dialog>
</script>


<script type="text/x-template" id="simple-captcha">
  <div class="form-inline">
    <div class="input-group" style="max-width: 300px;">
      <span class="captcha-dialog__addon input-group-addon captcha-img__addon" @click="update">
        <span aria-hidden="true" class="glyphicon glyphicon-arrow-right"></span>
      </span>
      <span class="captcha-dialog__addon input-group-addon captcha-img__addon">
        <img class="form-message__captcha-img" :src="src" width="48" height="20" @click="update">
      </span>
      <input class="form-control" type="text" autocomplete="off" v-model="code" @change="input">
    </div>
  </div>
</script>
<script type="text/x-template" id="snackbar">
  <div class="snackbar" @click="close">
    <div class="snackbar__body">
      <slot></slot>
    </div>
  </div>
</script>
<script type="text/x-template" id="toast">
  <div class="toast" @click="close">
    <div class="toast__body">
      <slot></slot>
    </div>
  </div>
</script>