
<script type="text/x-template" id="desires-settings">
  <closed-activity @close="close">
    <div class="activity-section">
      <div class="activity-section__title">Желания и фантазии</div>
      <suggest-input @select="add" :disabled="process"/>
    </div>

    <div class="activity-section">
      <div class="desire-tag__list">
        <desire-tag-item v-for="(item, index) in tags" :key="index"
         :tag="item.tag"
         :id="item.id"
         added="true"
         @select="confirmRemove = index"/>
      </div>
    </div>

    <div class="activity-section">
      <div class="activity-section__title">Фильтр желаний</div>
      Позволяет находить тех, чьи желания и фантазии совпадают с вашими.
      Просто заполните ваш список ваших Желаний. Когда желания вашего собеседника и ваши совпадут,
      его анкета будет выделена в Поиске.
    </div>

    <modal-dialog @close="confirmRemove = null" v-if="confirmRemove !== null">
      <div class="modal-dialog__wrapper">
        <div class="modal-dialog__body">
          Удалить желание? Всегда можно будет добавить заново здесь,
          или кликнув по понравившемуся в любой анкете.
        </div>
        <div class="modal-dialog__footer">
          <button class="btn btn-danger" @click="remove">
            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
            Удалить
          </button>
        </div>
      </div>
    </modal-dialog>



  </closed-activity>
</script>
