
<script type="text/x-template" id="search-item">
  <div class="search-item" :class="{visited}" @click="$emit('select', human.id)">
    <div class="search-item__content">
      <div class="search-item__name" :class="{differ}">{{name}}</div>
      <div class="search-item__age" :class="{differ}" v-if="human.age">{{human.age}}</div>
      <div class="search-item__city" :class="{differ}" v-if="human.city && !compact">{{human.city}}</div>
      <div class="search-item__search" v-if="search">{{search}}</div>
    </div>
    <div class="search-item__option">
      <div class="social-icon" :class="first" v-if="first"></div>
      <div class="social-icon" :class="second" v-if="second"></div>
      <div class="social-icon" :class="third" v-if="third"></div>
      <div class="search-item__virt" v-if="human.virt">вирт</div>
      <div class="search-item__real" v-if="human.close">реал</div>
      <div class="search-item__desires" v-if="tags">{{tags}}</div>
      <div class="search-item__online" v-if="online">онлайн</div>
    </div>
  </div>
</script>
