// Color variables

@primary: #337ab7;

@white:         #ffffff; // Appears 16 times
@light:         #f5f5f5; // Appears 5 times
@black:         #000000; // Appears 2 times

@gray-light:    #e5e5e5; // Appears 4 times 
@gray:          #cccccc; // Appears 7 times  
@gray-dark:     #999999; // Appears 16 times 

@dark-light:    #666666; // Appears 4 times
@dark:          #333333; // Appears 10 times

@link-color:    #0066cc; // Appears 5 times

@menu-color:    #3A5795; // Appears 2 times
@menu-hover:    #4262a9; //
@menu-light:    #BBCCCC; // 

@purpur-light:  #CCCCFF; // 
@purpur:        #9999ff; // 
@purpur-dark:   #6F92D8; // 

@green-light:   #CBE6B3; // Appears 2 times #CBE6B3
@green:         #84bf3b; // Appears 2 times 
@green-dark:    #669933; // Appears 3 times 

@pink-light:    #ffcccc; // Appears 2 times 
@pink:          #ff9999; // 
@pink-dark:     #ff6666; // Appears 2 times

@violet-light:      #F2D9F2;
@violet:            #ddbbdd; // Appears 2 times
@violet-dark:       #c082c0; // Appears 2 times #cc00cc

@alert-sand:    #fff2e5; // !!!

@yellow-light:  #FCF8E3; //
@yellow:        #f9ecbf; // #FFF0B3

@red-light:     #FFE0CC; // #FFD1B3
@red:           #ff9966; // #FF8080;
@red-dark:      #ff3333; //

@orange-light:  #ffcc66; // Appears 2 times 
@orange:        #ff9900; // Appears 2 times
@orange-dark:   #FF6600; // Appears 2 times
