
<script type="text/x-template" id="security-settings">
  <closed-activity @close="close">
    <div class="activity-section">
      <div class="activity-section__title">Логин:</div>
      <div class="form-inline">
          <input class="form-control" type="text" v-model="inputLogin" @change="saveLogin" :disabled="process || processLogin">
      </div>
    </div>
    <div class="activity-section">
      <div class="activity-section__title">Пароль:</div>
      <div class="form-inline">
        <input class="form-control" type="text" v-model="inputPasswd" @change="savePasswd" :disabled="process || processPasswd">
      </div>
    </div>
    <div class="activity-section">
      <div class="activity-section__title">Емаил:</div>
      <div class="form-inline">
        <label @click="promt ? confirmRemove = true : false">
          <input class="form-control" type="text" v-model="inputEmail"
           @change="saveEmail"
           :disabled="process || promt || processEmail">
        </label>
      </div>
    </div>
    <div class="activity-section">
      <div class="activity-section__title">Уведомления:</div>
      <div class="radio">
        <label class="radio-inline">
          <input type="radio" id="input-subscribe" v-model="checkSubscribe" :value="true" @change="saveSubscribe" :disabled="process || !promt || !email">
          Принимать
        </label>
        <label class="radio-inline">
          <input type="radio" id="input-subscribe" v-model="checkSubscribe" :value="false" @change="saveSubscribe" :disabled="process || !promt || !email">
          Отклонить
        </label>
      </div>
    </div>
    <div class="activity-section" v-if="login">
      <div v-if="!email">Мгновенные уведомления на емайл. Укажите ваш адрес электронной почты для восстановления пароля и получения уведомлений.</div>
      <div v-else-if="!promt">Емайл необходимо подтвердить. Простые инструкции высланы в письме на указанный вами адрес электронной почты.</div>
    </div>

    <modal-dialog @close="confirmRemove = false" v-if="confirmRemove">
      <div class="modal-dialog__wrapper">
        <div class="modal-dialog__body">
          Ваш емаил подтвержден. Пожалуйста, подтвердите удаление и следуйте инструкциям
          в письме которое будет отправлено на ваш емаил.
        </div>
        <div class="modal-dialog__footer">
          <button class="btn btn-default" @click="confirmRemove = false">
            Отмена
          </button>
          <button class="btn btn-danger" @click="removeEmail">
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            Удалить
          </button>
        </div>
      </div>
    </modal-dialog>
  </closed-activity>
</script>
