
<script type="text/x-template" id="review-settings">
  <closed-activity @close="close">

    <div class="activity-section">
      Пожалуйста, оставьте отзыв о сайте. Для нас важно каждое мнение и в любой форме.
      Будет ещё приятнее, если вы выскажитесь максимально подробно.
      Нажмите кнопку "Задать вопрос", если важен ответ.
    </div>

    <div class="activity-section__title">Оставить отзыв</div>
    <div class="activity-section">
      <div :class="{'has-error': isEmpty}">
        <textarea placeholder="Введите текст..." class="form-control" v-model="text" rows="3"></textarea>
        <label style="margin: 10px 0 12px;"><input type="checkbox" v-model="needResponse"> Я хочу получить ответ</label>
      </div>

      <div>
        <button class="btn btn-primary" @click="handle()" v-show="!sended && !process">Отправить</button>
        <button class="btn btn-primary" v-show="process" disabled>Отправляю...</button>
        <button class="btn btn-default" v-show="sended && !process" disabled>Отправлено</button>
        <button class="btn btn-link" @click="switchToQuestions()">Задать вопрос</button>
      </div>
    </div>

    <div class="activity__splitter"></div>


    <modal-dialog @close="noResponse()" v-if="needResponse">
      <div class="modal-dialog__wrapper">
        <div class="modal-dialog__caption">
          Задайте вопрос
        </div>
        <div class="modal-dialog__body">
          Пожалуйста, нажмите кнопку "Задать вопрос", если для вас важен ответ.
          Отзывы нужны чтобы высказать мнение, или сообщить информацию, когда ответ не обязателен.
        </div>
        <div class="modal-dialog__footer">
          <button class="btn btn-default" @click="noResponse()">Отмена</button>
          <button class="btn btn-primary" @click="switchToQuestions()">Задать вопрос</button>
        </div>
      </div>
    </modal-dialog>

    <modal-dialog @close="close()" v-if="sended">
      <div class="modal-dialog__wrapper">
        <div class="modal-dialog__caption">
          Спасибо за отзыв
        </div>
        <div class="modal-dialog__body">
          Для нас важно каждое мнение и в любой форме. Ориентируясь на отзывы Пользователей, разработчики стараются
          делать сайт ещё приятнее и удобнее.
        </div>
        <div class="modal-dialog__footer">
          <button class="btn btn-primary" @click="close()">Закрыть</button>
        </div>
      </div>
    </modal-dialog>

  </closed-activity>
</script>
