.activity-section {
    margin-bottom: @indent-lg;
    &__title {
        margin: @indent-sm 0;
        font-size: @font-lg;
    }
}

.closed-activity {
    .menu-closed {
        max-width: @activity-width;
        margin-left: auto;
        margin-right: 0;
    }

    position: fixed;
    background: rgba(0, 0, 0, .2);

    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;

    top: 0px;
    bottom: 0;
    max-width: 750px;
    overflow: hidden;

    //border: 3px solid #CCC;
    //border-width: 0 3px;

    .btn-close {
        color: @white;
        padding: 10px 0;
        font-size: 30px;
        cursor: pointer;
    }
    &__wrapper {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        max-height: @activity-height + 50;
        max-width:  @activity-width;
        width: 100%;
        margin-bottom: 1px;
        overflow: hidden;
        background: @white;
        border: 0px solid @gray;
        border-top: 0;
        box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
        overflow-x: hidden;
        overflow-y: auto;
    }
    &__content {
        padding: @indent-md @indent-lg @indent-md;
    }
    &__container {
        display: flex;
        height: 100%;
    }
}