<!DOCTYPE html>
<html>
<head>
<title>Просмотр анкеты</title>
 <META http-equiv="content-type" content="text/html; charset=UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- build:include ../../_common/favicon.htm --><!-- /build -->
<!-- build:include ../../_common/css-list.htm --><!-- /build -->
</head>
<body>
<div id="app">
  <!-- build:include ../../_common/menu-user.htm --><!-- /build -->
  <div class="container content split-bottom">
    <div class="row">
      <ad-top></ad-top>
      <!-- build:include ../../_common/search-wizard.htm --><!-- /build -->
    </div>
  </div>

  <div class="container content paper">
    <div class="row">
      <div class="col-md-12">
        <div class="row" style="display: none;" v-show="human.id">
          <div class="col-sm-8">
            <account-component :human="human" key="2" v-if="human.id"></account-component>
          </div>
          <div class="col-sm-4">
            <!-- build:include sidebar.htm --><!-- /build -->
          </div>
        </div>

        <div class="preloader" v-show="!ready" v-if="!human.id">
          <!-- build:include ../../_common/preloader-raw-svg.htm --><!-- /build -->
          <div class="preloader__hint">
            Получаю данные этой анкеты
          </div>
        </div>

      </div>
    </div>
  </div>
  <!-- build:include ../../_common/info-links.htm --><!-- /build -->
  <!-- build:include ../../_common/option-static.htm --><!-- /build -->
</div>
<!-- build:include ../../_common/footer.htm --><!-- /build -->

%%BLOCK_COUNTER_ALL%% <!-- счетчики статистики -->

<script type="text/javascript">
    // var addthis_config = {"data_track_addressbar":false};
    //     addthis_config.data_track_addressbar = false;
    //     addthis_config.data_track_clickback = false;
</script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-593e8bd77e5130d5"></script>
</body>
</html>