<!DOCTYPE html>
<html>
<!-- build:include head.htm --><!-- /build -->
<body>

%%USER_MENUE_BLOCK%%
%%JS_USER_VARS%%

<div id="earlap">

<div id="index_cent">
%%ALERT_BLOCK_TOP_GEN%%
%%DIRECT_BLOCK%%

%%BLOCK_STATIC_TIP%%
<!-- build:include content.htm --><!-- /build -->
<!-- build:include sidebar.htm --><!-- /build -->
                                       
%%AD_MAIL_OVER_BOTTOM%% 
%%AGREEMENT_BLOCK%%

<!-- build:include footer.htm --><!-- /build -->

 %%BLOCK_UNIQ_KEY_PHG%%

 %%QUEST_UNDER_PAGE%%

 %%BLOCK_COUNTER_ALL%%

 <div align="center" style="color:#FFF; " >
   %%LOAD_AVEREGE_COUNT%%

<!-- build:include add-this-btn.htm --><!-- /build -->
 </div>



</div>

<!-- build:include option-static.htm --><!-- /build -->  
     
</div><!-- index_cent -->
                  
<!-- build:include giper-chat.htm --><!-- /build -->
</div><!-- earlap -->

<!-- build:include templates.htm --><!-- /build -->
<!-- build:include js-list-footer.htm --><!-- /build -->
</body>
</html>