  
 <div id="abuse-list-component">
   <div class="right"> 
       <span class="abuse-list__indicator-good" @click="showForm" v-show="!abuseStatus" style="display: none;">Замечаний нет</span>
       <span class="abuse-list__indicator-bad" @click="showList" v-show="abuseStatus" style="display: none;">Есть замечания</span>
   </div> 
   
   <div class="abuse-list__list" style="display: none;" v-show="isListShow"> 

   </div>
     
   <div class="abuse-list__add-btn" @click="showForm" v-show="isButtonShow && !isFormShow" style="display: none;">
     <span class="gray_link">Опубликовать замечание</span>        
     <a href="/блог/анонимное-замечание-к-анкете/" class="abuse_info" target="_blank"></a>
   </div>  
     
   <div class="abuse-form" style="display: none;" v-show="isFormShow"> 
     <div class="abuse-form__caption">
       Отправьте замечание  &nbsp;
       <a href="/блог/анонимное-замечание-к-анкете/" target="_blank" class="link_simple" style="font-size: 12px;">Это анонимно...</a>
     </div>
       
   <div class="abuse-form__editor" style="display: none;" v-show="isEditorShow"> 
     <textarea class="abuse-form__input"></textarea>
     
     <div id="strong_captcha_block_abuse" style="display: none; margin: 0 0 5px; "> 
      <p style="padding: 0px 0 10px 0; margin: 0;"> 
       - без оскорблений, клеветы и домыслов <br> 
       - только серьёзные и негативные замечания<br> 
       - описание обстоятельств приветствуется
      </p>     
      <img src="" style="width: 122px; vertical-align: bottom; margin: 2px 0; border: 1px solid #AAA; ">
      <input type="text" id="abuse_code_val" style="width: 120px;" placeholder="Введите код"> 
     </div>  
   </div>
       
       <div class="abuse-form__suggest list-group" @click="choiceText" v-show="isSuggestShow">
           <a class="list-group-item">Предложение оплаты услуг, вирт за деньги, проституция</a>
           <a class="list-group-item">Мошенничество, развод на деньги, шантаж, вымогательство</a>
           <a class="list-group-item">Фото из интернета, вымышленные данные, обман, фейк</a>
           <a class="list-group-item">Оскорбления, хамство, троллинг, грубые сообщения</a>
           <a class="list-group-item">Рассылает интим фото, спамит или провоцирует</a>
       </div> 
     
       
     
    
     
       <button class="btn btn-warning" type="button" style="font-size: 11px;">
           <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
           Отправить
       </button>  &nbsp; 
     <span class="link_simple" @click="hideForm">Не отправлять</span>
   </div>      
   
   <div style=" padding-bottom: 10px;"></div> 
 </div> 