
<div style="position: relative; bottom: 0px; left: 20px; clear: both; text-align:  ; "> 
                                                                                                             
  <span id="send_question" class="report_blue" href="/details.php?reviews" target="_blank">Задать вопрос</span> 
  <span id="send_report" class="report_orange" href="/details.php?reviews" target="_blank">Оставить отзыв</span> 
                                               
</div>
 
<div id="agreement">
   <div id="report_block" style="margin-bottom: 20px; display: none;">       
     <input name="id" type="hidden" value="10336">  
     <textarea id="report_text" name="mess" style="display: block; max-width: 450px; min-height: 70px; margin-bottom: 5px;"></textarea>
     <input id="report_send" type="submit" name="posted" value="Отправить вопрос" style=" padding: 3px 10px; margin-right: 10px;"> 

     <span id="send_reset" class="link_simple">Отмена, я не хочу писать</span>  
   </div>
   <div id="hint_block" style="   display: none;
    
   margin-bottom: 10px; padding: 10px 15px;
   background: #FFC; box-shadow: rgba(0, 0, 0, 0.251) 0px 0px 5px 0px;">
     Сообщение отправлено. <span id="hint_close" class="link_simple">Скрыть</span> 
   </div>


   <p style=" padding: 0 0px 5px; margin: 0;">
   Только реальные анкеты. Проверить действительность анкетных данных или реальность намерений очень просто, 
   предложив обменяться адресами страниц вконтакте или одноклассников, 
   при помощи видеозвонка Skype или позвонив собеседнику предварительно спросив номер телефона. 
   Также легко можно 
   <a href="/блог/проверить-подлинность-фотографии/" rel="nofollow" target="_blank">проверить подлинность фото</a>.
   </p>  
                                    
    Сайт полностью бесплатен и создан для общения. 
    Если вам кто-то предложит что-либо оплатить, 
    <a href="/блог/как-подать-жалобу-модераторам/" rel="nofollow" target="_blank">сообщите нам</a>
    любым способом. Предложение интим услуг на сайте запрещено. 
    Пожалуйста, не «ложите» деньги на телефон,   
    на интернет, не делайте денежных переводов, это  
    <a href="/блог/как-не-попасть-на-уловки-мошенников/" rel="nofollow" target="_blank">
     уловки мошенников</a>. Не нарушайте законов,  
    <a href="/блог/как-не-стать-жертвой-шантажа/" rel="nofollow" target="_blank">шантаж</a>. 
    Отправляйте фото 
    <a href="/блог/сохраняйте-анонимность/" rel="nofollow" target="_blank">сохраняя анонимность</a>.
 
</div>

