

<div class="alert alert-danger">
    Сайт полностью бесплатен и создан для общения.
    Если вам кто-то предложит что-либо оплатить,
    <a href="/блог/как-подать-жалобу-модераторам/" rel="nofollow" target="_blank">сообщите нам</a>
    любым способом. Предложение интим услуг на сайте запрещено.
    Пожалуйста, не «ложите» деньги на телефон,
    на интернет, не делайте денежных переводов, это
    <a href="/блог/как-не-попасть-на-уловки-мошенников/" rel="nofollow" target="_blank">
     уловки мошенников</a>. Не нарушайте законов,
    <a href="/блог/как-не-стать-жертвой-шантажа/" rel="nofollow" target="_blank">шантаж</a>.
    Отправляйте фото
    <a href="/блог/сохраняйте-анонимность/" rel="nofollow" target="_blank">сохраняя анонимность</a>.
</div>

<div class="addthis_inline_share_toolbox" style="margin-bottom: 15px; min-height: 35px;"></div>

Только реальные анкеты. Проверить действительность анкетных данных или реальность намерений очень просто,
предложив обменяться адресами страниц вконтакте или одноклассников,
при помощи видеозвонка Skype или позвонив собеседнику предварительно спросив номер телефона.
Также легко можно
<a href="/блог/проверить-подлинность-фотографии/" rel="nofollow" target="_blank">проверить подлинность фото</a>.
