
  %%MAIL_TIPS_BLOCK_UP%%

  %%MAIL_CONFIRM_BLOCK_UP%%

  <div id="anketa_master_info"></div>
  <div id="human_cent_block">
     <div id="anketa_first_info" style="margin-bottom: 5px;">
       <div id="human_labe_block">
           %%DATING_LABEL_BUTTON%%
           %%VIDEO_CHAT_BUTTON%%
       </div>

       <div id="human_data_block">
          <div id="human_data_print">
            <span id="human_print_name" class="human_name %%HUMAN_STATUS%%">%%HUMAN_NAME%%</span>
            <span id="human_print_age">%%HUMAN_AGE%%</span> %%HUMAN_AGE_SAY%%
          </div>
       </div>
     </div>

     <div id="anketa_second_info" style="margin-bottom: 15px;">
       <span id="human_print_city" style="color: #aaa;">%%HUMAN_CITY%%</span>

       <div id="human_search_block" style="padding: 15px 0 5px;">
           <a href="%%HUMAN_SEARCH_LINK%%" target="_blank"
             style="color: #333;
              font-size: 12px;
              display: block;
              text-decoration: none;
              margin: 0px 0 10px 1px;">
            %%HUMAN_SEARCH_TEXT%%
             <img src="/img/link_2.gif" width="10" height="10" alt="" border="0" style="vertical-align: middle; margin-left: 5px;"
              title="Показать результаты поиска">
           </a>
       </div>

       <div id="human_status_block">
         <quick-write :human-id="humanId" inline-template>
           <div>
             <div class="btn btn-primary" @click="open = true">Написать сообщение</div>
             <quick-message v-if="open" :human-id="humanId" @sended="sended = true" @close="open = false" @account="account = humanId"></quick-message>
             <snackbar v-if="sended" @close="sended = false">Сообщение отправлено.</snackbar>
             <account-activity :human-id="account" v-if="account" @close="account = null"></account-activity>
           </div>
         </quick-write>
       </div>

       <div id="human_anketa_block">
           <div id="anketa_text" >
            %%HUMAN_ANKETA%%
           </div>
           %%ADDITIONAL_CONTACT%%
           %%DESIRE_TAG%%
       </div>
     </div>
</div>
