

<div id="contact-section">
  <div class="contact-section__item" @click="openIntim">
    <span aria-hidden="true" class="glyphicon glyphicon-envelope"></span>
    Общение
  </div>
  <div class="contact-section__item" @click="openInit">
    <span aria-hidden="true" class="glyphicon glyphicon-heart-empty"></span>
    Знакомства
  </div>
  <div class="gray_link contact-section__item" @click="openSends">
    <s>Отправлено</s>
  </div>
</div>



<script type="text/x-template" id="inform-dialog">
  <option-dialog @close="close">
    <div class="contact-dialog">
      <div class="option_tab">
        <div align="left" class="option_cap">
          <slot name="caption">Заголовок</slot>
        </div>
        <div class="tab_context">
          <slot name="context">Описание</slot>
        </div>
        <div class="option_loader" v-show="loader">
          Загружаем
        </div>
        <slot></slot>
        <div class="hint_context" v-show="hint">
          <slot name="hint">Подсказка</slot>
        </div>
      </div>
    </div>
  </option-dialog>
</script>


<script type="text/x-template" id="initial-dialog">
  <inform-dialog :loader="showLoader" :hint="showHint" @close="close">
    <span slot="caption"><b>Предложения знакомства</b></span>
    <span slot="context">Когда вы отправляете или вам отправляют самое первое сообщение, это считается предложением знакомства.</span>
    <span slot="hint">Здесь будет список ваших предложений знакомства.</span>

    <div class="" v-if="response && contacts.length">
      <contact-item v-for="(item, index) in contacts"
        :item="item"
        :index="index"
        :initial="initial"
        @bun="bun"
        @close="close"
        @remove="remove"/>
    </div>
  </inform-dialog>
</script>


<script type="text/x-template" id="intimate-dialog">
  <inform-dialog :loader="showLoader" :hint="showHint" @close="close">
    <span slot="caption"><b>Общение, диалоги и контакты</b></span>
    <span slot="context">Отвечайте на предложения знакомства. Ваши активные диалоги сохраняются здесь, отдельно от предложений знакомства.</span>
    <span slot="hint">Здесь будет список ваших контактов, сообщений, диалогов.</span>

    <div class="" v-if="response && contacts.length">
      <contact-item v-for="(item, index) in contacts"
        :item="item"
        :index="index"
        :initial="initial"
        @bun="bun"
        @close="close"
        @remove="remove"/>
    </div>
  </inform-dialog>
</script>








<script type="text/x-template" id="contact-item">
  <div class="contact-list__item">
    <div class="contact-list__item-content" @click.stop="show">
      <span class="contact-list__item-info">
        <span class="user-list__name">{{item.name}}</span>,
        <span class="user-list__age">{{item.age}}</span>
      </span>
      <span class="contact-list__item-message">{{item.message}}</span>
    </div>
    <div class="contact-list__item-option">
      <span :class="0 ? 'message-item__bunn-alert' : 'message-item__bunn'"
        v-show="initial" @click="confirmBun">
        <span aria-hidden="true" class="glyphicon glyphicon-thumbs-down"></span>
      </span>
      <span class="message-item__remove" v-show="initial" @click="confirmRemove">
        <span aria-hidden="true" class="glyphicon glyphicon-remove"></span>
      </span>
    </div>

    <remove-confirm :show="confirm"
      @bun="bun"
      @close="cancel"
      @remove="remove"/>
    <quick-reply :show="detail" :data="item"
      @bun="bun"
      @close="close"
      @remove="remove"/>
  </div>
</script>










<script type="text/x-template" id="quick-reply">
  <modal-dialog :show="show" :data="data" @close="close">
    <div class="human-dialog__caption">
      Быстрый ответ
      <div class="human-dialog__option">
        <span aria-hidden="true" class="glyphicon glyphicon-thumbs-down" @click="confirm = 'doit'"></span>
        <span aria-hidden="true" class="human-dialog__option-remove glyphicon glyphicon-trash" @click="confirm = 'must'"></span>
      </div>
    </div>
    <div class="human-dialog__body">
      <div class="human-dialog__desire" v-show="desire">
        <span class="link_simple" v-for="(tag, index) in data.desire">{{tag}} &#8226; </span>
      </div>
      <div class="human-dialog__message">
        {{data.message}}
      </div>
    </div>
    <div class="human-dialog__form">
          <a :href="'/' + data.cont_id" class="human-dialog__form-anketa btn btn-link">
            <span aria-hidden="true" class="glyphicon glyphicon-user"></span>
          </a>
      <div class="human-dialog__form-input" placeholder="Введите текст" contenteditable>

      </div>
          <div class="human-dialog__form-send" @click="send">
            <span aria-hidden="true" class="glyphicon glyphicon-send"></span>
          </div>
    </div>
    <remove-confirm :show="confirm" @bun="bun" @close="cancel" @remove="remove"/>
    <captcha-dialog @close="close" @cancel="cancel" @code="setCode"
      :show="captcha"
      :data="data" ></captcha-dialog>
  </modal-dialog>
</script>



<script type="text/x-template" id="captcha-dialog">
  <modal-dialog :show="show" :data="data" @close="close">
    <div class="captcha-dialog__caption">
      Подтвердите
      <a href="/блог/простые-проверки/" target="_blank" aria-hidden="true" class="glyphicon glyphicon-info-sign"></a>
    </div>
    <div class="captcha-dialog__body">
      <div class="human-dialog__desire">
        Введите код с картинки
      </div>
      <div class="input-group" style="max-width: 300px;">
        <span class="captcha-dialog__addon input-group-addon captcha-img__addon">
          <span aria-hidden="true" class="glyphicon glyphicon-arrow-right"></span>
        </span>
        <span class="captcha-dialog__addon input-group-addon captcha-img__addon">
          <img class="form-message__captcha-img" src="/secret_pic.php" width="48" height="20">
        </span>
        <input class="form-control" type="text" autocomplete="off" v-model="code">
      </div>
    </div>

    <div class="captcha-dialog__option">
      <button class="btn btn-default" @click="close">
        Вернуться
      </button>
      <button class="btn btn-warning" @click="send">
        Отправить
      </button>
    </div>

    <div class="human-dialog__form">

    </div>
  </modal-dialog>
</script>