

<div id="contact-section">
  <div class="contact-section__item" @click="openIntim">
    <span aria-hidden="true" class="glyphicon glyphicon-envelope"></span>
    Общение
  </div>
  <div class="contact-section__item" @click="openInit">
    <span aria-hidden="true" class="glyphicon glyphicon-heart-empty"></span>
    Знакомства
  </div>
  <div class="gray_link contact-section__item" @click="openSends">
    <s>Отправлено</s>
  </div>
</div>

<!-- build:include ../../_common/dialogs/inform-dialog.htm --><!-- /build -->
<!-- build:include ../../_common/dialogs/contact-dialog.htm --><!-- /build -->

<!-- build:include ../../_common/dialogs/contact-item.htm --><!-- /build -->

<!-- build:include ../../_common/dialogs/quick-reply.htm --><!-- /build -->
<!-- build:include ../../_common/dialogs/captcha-dialog.htm --><!-- /build -->
