  <div id="footer">
    <table id="nav-table">
      <tr>
        <td>
          <a class="nav-table_git-link" href="https://github.com/freedomsex/freedomsex" target="_blank" rel="nofollow"></a>  
        </td> 
        <td>
          <a class="nav-table_link" href="/">%%DRAFT_LINK_MAIL_0%%</a> -
          <a class="nav-table_link" href="/%%TOWN%%">%%DRAFT_LINK_MAIL_1%% %%TOWN%%</a> -
          <a class="nav-table_link" href="/%%LINK_WHO%%">%%LINK_WHO%% %%DRAFT_LINK_MAIL_2%%</a>
        </td>
      </tr>
    </table>
    
