<div id="footer">
    <table class="nav-table">
      <tr>
        <td rowspan="2">
          <a class="nav-table_git-link" href="https://github.com/freedomsex/freedomsex" target="_blank" rel="nofollow"></a>
        </td>
        <td style="padding-bottom: 10px;">
          <div id="bug-tracker">
            <a class="bug-tracker__btn btn btn-xs btn-danger" href="/envelope.htm" target="_blank">Написать разработчикам</a>
            <a class="bug-tracker__btn btn btn-xs btn-link" href="/rules.php" target="_blank">Правила сайта</a>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <a class="nav-table_link" href="/">%%DRAFT_LINK_MAIL_0%%</a> -
          <a class="nav-table_link" href="/%%TOWN%%">%%DRAFT_LINK_MAIL_1%% %%TOWN%%</a> -
          <a class="nav-table_link" href="/%%LINK_WHO%%">%%LINK_WHO%% %%DRAFT_LINK_MAIL_2%%</a>

        </td>
      </tr>
    </table>

<!-- build:include key-session.htm -->Мутная штука для простановки сессий на зеркалах<!-- /build -->
%%BLOCK_COUNTER_ALL%% <!-- счетчики статистики -->
<!-- build:include dev-info.htm -->Информация для отладки, если включено<!-- /build -->
</div>
