
   <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
   <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
  <script src="http://underscorejs.org/underscore-min.js"></script>
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/vue-resource/dist/vue-resource.js"></script>

  <script type="text/javascript" src="%%JS_FILE%%"></script>
  <script type="text/javascript" src="%%JS_MESS%%"></script>


   <script type="text/javascript">
      var addthis_config = {"data_track_addressbar":false};
       addthis_config.data_track_addressbar = false;
       addthis_config.data_track_clickback = false;</script>
   <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-4fb88f475e8b2e81"></script>

