
%%ALERT_BLOCK_TOP_GEN%%
<!-- build:include ../../_common/ad-top.htm --><!-- /build -->
%%BLOCK_STATIC_TIP%%

<!-- build:include ../../_common/search-wizard.htm --><!-- /build -->




<div class="row">
  <div class="col-sm-8">
  <!-- build:include content.htm --><!-- /build -->
  </div>
  <div class="col-sm-4">
  <!-- build:include sidebar.htm --><!-- /build -->
  </div>
</div>

<!-- build:include agreement.htm --><!-- /build -->



<initial-dialog v-if="initial" quick="true" @close="close"></initial-dialog>
<intimate-dialog v-if="intimate" @close="close"></intimate-dialog>
<sends-dialog v-if="sends" @close="close"></sends-dialog>


<!--<div id="router-view">
<router-view @close="close"></router-view>
</div>-->


<upload-dialog  @close="close" v-if="view == 'upload'"></upload-dialog>
<photo-dialog   @close="close" v-if="view == 'photo'"></photo-dialog>
<messages-activity @close="close" v-if="view == 'history'"></messages-activity>

<api-key-update></api-key-update>

<!-- build:include ../../_common/option-static.htm --><!-- /build -->

<search-settings v-if="searchSettings" @close="closeSearchSettings()"></search-settings>


