


<div id="user-dialog" v-show="!error">
  <div class="messages__new" v-on:click="load">
    <span class="messages__new-lamp" v-show="newCount" style="display: none;">Новые
    +<b>{{newCount}}</b>
    </span>
  </div>
  <div class="messages">
    <message-item v-for="(item, index) in messages"
      :item="item"
      :index="index"
      :count="messages.length"
      :alert="attention"
      :uid="uid"
      @admit="admit"
      @remove="remove"
      @set-new="setNew"
    ></message-item>
  </div>
  <div class="messages__next" v-on:click="load" v-show="more" style="display: none;">
    <span class="btn btn-default btn-xs">Следующие</span>
  </div>
  <div class="messages__loader" v-show="!error && !response">
    <span>
      <img src="/static/img/icon/mess_loader.gif" v-show="toSlow" style="display: none;">
      Загружаем
    </span>
  </div>
</div>

<script type="text/x-template" id="messages-item">
<div class="message-item" @mouseleave="showOption = false">
  <div class="message-item__date" v-if="date">
    <span>{{date}}</span>
  </div>
  <div class="message-item__spliter" v-show="!previous"></div>
  <div :class="[sent ? 'message-item__sent' : 'message-item__received']">
    <div class="message-item__balloon" @mouseover="showOption = true" @click="fix">
      <div v-if="image" class="message-image" :style="{ backgroundImage: 'url('+image+')' }">
        <div class="message-image__play" @click="play">
          <img src="/static/img/icon/play.png">
        </div>
        <span class="message-image__info">
          <span class="message-image__status" v-show="!read"></span>
          <span class="message-image__time">{{time}}</span>
        </span>
      </div>
      <span v-else>
        <span v-html="item.mess"></span>
        <span class="message-info">
          <span class="message-info__status" v-show="!read"></span>
          <span class="message-info__time">{{time}}</span>
        </span>

      </span>


    </div>
    <span :class="attention ? 'message-item__bunn-alert' : 'message-item__bunn'"
      v-show="!sent && option" @click="showDialog = sent ? 'some' : 'doit'">
      <span aria-hidden="true" class="glyphicon glyphicon-thumbs-down"></span>
    </span>
    <span class="message-item__remove" v-show="option" @click="showDialog = sent ? 'some' : 'must'">
      <span aria-hidden="true" class="glyphicon glyphicon-remove"></span>
    </span>
  </div>
  <remove-confirm
    :show="showDialog"
    :data="item"
    @bun="bun"
    @close="cancel"
    @remove="remove"
  ></remove-confirm>
</div>
</script>

<script type="text/x-template" id="modal-dialog">
  <div class="modal-dialog__mask" :show="show" :data="data" v-if="show" transition="modal" @click="close">
    <div class="modal-dialog__container" @click.stop>
      <slot></slot>
    </div>
  </div>
</script>

<script type="text/x-template" id="remove-confirm">
  <modal-dialog :show="show" :data="data" @close="close">
    <div class="modal-dialog__caption">
      {{caption}}
    </div>
    <div class="modal-dialog__body">
      {{text}}
    </div>
    <div class="modal-dialog__footer">
      <button class="btn btn-primary" @click="bun()" v-if="show == 'doit'">{{action}}</button>
      <button class="btn btn-primary" @click="remove()" v-else>{{action}}</button>
      <button class="btn btn-default" @click="close()">Отмена</button>
    </div>
  </modal-dialog>
</script>










     <div id="message_block_ex" class="_____message_list_block" style="display: none;">
      <div class="message_list_title unread">
        <span class="user_name"></span>
        <span class="message_list_save bunned_mess" data-number="8973758"
         style="margin-left: 3px; vertical-align: bottom; ">Удалить и наказать</span>
        <div class="message_list_time unread">
         <span class="message_list_save remove_mess" data-number="8973758">Удалить</span>
         <span class="mess_time"></span>
        </div>
      </div>
      <div class="message_list_body"></div>
      <div style="clear: both;"></div>
     </div>






     <div id="mail_bad_text_alert" style="display: none;">
      <span class="text"></span>
      <div style="margin-top: 5px;">
       <input type="button" value="Посмотреть сообщения" style="font-size: 11px;">  &nbsp;
       <span class="link_underline">Игнорировать и удалить</span>
      </div>

     </div>



      <div id="mail_pages" style="display: none;">
       <span id="mail_pages_next" class="link_underline">следующие »</span>
       <div class="save_notice">
         Ненужные сообщения удаляются автоматически.
         <a href="/блог/сохраняйте-только-важное">Подробнее...</a>
       </div>
      </div>

     <div id="mess_option_hint" style="display: none;">
      <div style="display: inline-block; padding: 5px 0px 1px 0px; color: #888;
       font-size: 9px;">
       Для отображения опций кликните по сообщению или наведите курсор мыши</div>
     </div>


    <div id="recover_mess_block_ex" class="mail_confirm_block" style="display: none;">
     Сообщение удалено.
     <span class="link_underline">Восстановить</span>
    </div>



<!-- build:include no-js-alert.htm -->
Не работает JS
<!-- /build -->

<!-- float: right; ===================================================== -->
