<div style="border-left: 1px solid #e5e5e5; padding-left: 10px;">
  <a class="btn btn-xs btn-link" href="/">%%DRAFT_LINK_MAIL_0%%</a>
  <a class="btn btn-xs btn-link" href="/%%TOWN%%">%%DRAFT_LINK_MAIL_1%% %%TOWN%%</a>
  <a class="btn btn-xs btn-link" href="/%%LINK_WHO%%">%%LINK_WHO%% %%DRAFT_LINK_MAIL_2%%</a>

  <a class="btn btn-xs btn-link" href="/envelope.htm" target="_blank">Написать разработчикам</a>
  <a class="btn btn-xs btn-link" href="/rules.php" target="_blank">Правила сайта</a>
</div>