.menu-user__status {
  background-color: rgba(0, 0, 0, 0);
  width: 10px;
  height: 10px;
  display: inline-block;
  border-radius: 10px;
  vertical-align: middle;
  &.active {
    background-color: @white;
  }
}