
<script type="text/x-template" id="quick-message">
  <div>
    <modal-dialog @close="close">
      <div class="dialog-caption">
        <div class="dialog-caption__title">{{caption}}</div>
        <div class="dialog-caption__option" @click="account()">
          <span class="account">Анкета</span>
          <i class="material-icons">&#xE853;</i>
        </div>
      </div>
      <div class="modal-dialog__wrapper capped">
        <div class="modal-dialog__section">
          <div class="human-dialog__desire" v-show="tags.length" @click="account()">
            <span class="desire-tag__item-simple" v-for="(tag, index) in tags" :key="index" v-show="tag">{{tag}}</span>
          </div>


    <div slot="content" class="human-dialog__text" :class="reply ? 'message' : 'warning'" v-show="information" @click="action()">
      {{information}}
    </div>


        </div>
        <div class="modal-dialog__section">
          <div class="dialog-form">
            <div class="dialog-form__textarea">
              <textarea class="dialog-form__message-text" rows="1" placeholder="Введите текст" v-model="text" v-resized
                @keyup.ctrl.enter.prevent="proxy()"></textarea>
            </div>
            <div class="dialog-form__button-paste" @click="modals.cliche = true" v-if="!reply">
              <i class="material-icons">&#xE02F;</i>
            </div>
          </div>
<!--           <div class="dialog-form__hint" @click="$router.push('/help/simplest/ru')">
            <span aria-hidden="true" class="glyphicon glyphicon-info-sign"></span>
            Используйте простые фразы или шаблоны из блокнота.
          </div> -->
        </div>


        <div class="modal-dialog__options">
          <button class="btn btn-primary" @click="proxy()">
            <i class="material-icons">&#xE163;</i>
            Отправить
          </button>

          <button class="btn btn-default" @click="modals.notepad = true">
            <i class="material-icons">&#xE14F;</i>
            Блокнот
          </button>
        </div>
      </div>
      <loading-wall :show="loading"/>
      <loading-cover :show="process"/>
    </modal-dialog>

    <attention-wall :show="hold" v-if="hold" @promt="cancel" @close="close"/>
    <captcha-dialog v-if="captcha" @close="close" @cancel="cancel" @send="setCode"/>
    <recaptcha ref="recaptcha" @cancel="close"></recaptcha>

    <notepad v-if="modals.notepad"
     @select="setText"
     @cliche="modals.cliche = true"
     @close="modals.notepad = false"/>
    <messages-cliche v-if="modals.cliche"
     @select="setText"
     @close="modals.cliche = false"/>

    <contact-wizard v-if="addition"
      :humanCity = "human.city"
      :humanAge = "human.age"
      @approve="proxy()"
      @close="addition = false"/>


    <info-dialog v-if="interests.show && !interests.ignore"
      text="Учитывайте интересы собеседника. Потребуется подтверждение, если не совпадает желаемый город или возраст.
      Вирт интересен далеко не всем."
      @close="interests.ignore = true"/>

    <info-dialog v-if="dirt.show && !dirt.ignore"
      text="Оскорбления в любой форме запрещены. На вас поступят жалобы,
      что грозит блокировкой анкеты. Возможно потребуется подтверждение."
      @close="dirt.ignore = true"/>

    <info-dialog v-if="spam.show && !spam.ignore"
      text="Не отправляйте номера телефонов, ссылки, мессенджеры в начале знакомства.
      Так поступают мошенники, потребуется подтверждение."
      @close="spam.ignore = true"/>


  </div>
</script>

