<script type="text/x-template" id="photo-send">
  <div class="photo-send__mask" transition="modal" @click="close">
    <div class="photo-send__container" @click.stop>

      <div class="close-self-button">
        <i class="material-icons" @click="close"></i>
      </div>
      <photo-view :photo="photo.photo" :thumb="photo.thumb" :maxWidth="600" @close="close"/>
      <div class="photo-send__options" v-show="options">
        <button class="btn btn-default" @click="remove = true">
          <span aria-hidden="true" class="glyphicon glyphicon-trash"></span>
          Удалить
        </button>
        <button class="btn btn-primary" @click="$emit('send')">
          <span aria-hidden="true" class="glyphicon glyphicon-send"></span>
          Отправить
        </button>
      </div>
      <!-- <toast v-if="remove" @close="remove = false">Временно недоступно</toast> -->

      <modal-dialog @close="close" v-if="remove">
        <div class="modal-dialog__wrapper">
          <div class="modal-dialog__caption">
            Удалить фото?
          </div>
          <div class="modal-dialog__body">
            Восстановить фото будет невозможно.
            Вы действительно хотите удалить фотографию?
          </div>
          <div class="modal-dialog__footer">
            <button class="btn btn-default" @click="remove = false">
              Отмена
            </button>
            <button class="btn btn-primary" @click="removePhoto()">
              <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
              Удалить
            </button>
          </div>
        </div>
      </modal-dialog>


      <slot></slot>
    </div>
  </div>
</script>
