<!DOCTYPE html>
<html>
<head>
<!-- build:include ../../_common/head.htm --><!-- /build -->
<link rel="stylesheet" type="text/css" href="%%CSS_UNIQUE%%">
</head>
<body>
%%JS_USER_VARS%%
<div id="app">
  %%MENU_HEADER%%
  <div class="container content">
    <div class="row" v-show="!simple">
      %%TOP_INFO_BLOCK%%
    </div>
    <div class="row">
      %%TIP_FORM_BLOCK%%
      %%INFO_TEXT_SCH%%
    </div>
  </div>


<!-- build:include search-results.htm --><!-- /build -->
<div v-show="!simple">
%%SLIDER_FOOTER%%
</div>

<!-- build:include ../../_common/info-links.htm --><!-- /build -->
<!-- build:include ../../_common/option-static.htm --><!-- /build -->


</div>


   %%BLOCK_COUNTER_ALL%%
<!-- build:include ../../_common/footer.htm --><!-- /build -->


<script type="text/javascript">
    // var addthis_config = {"data_track_addressbar":false};
    //     addthis_config.data_track_addressbar = false;
    //     addthis_config.data_track_clickback = false;
</script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-593e8bd77e5130d5"></script>

</body>
</html>

