<!DOCTYPE html>
<html>
<head>
<!-- build:include ../../_common/head.htm --><!-- /build -->
</head>
<body>
%%JS_USER_VARS%%
<div id="app">
  <!-- build:include ../../_common/menu-user.htm --><!-- /build -->
  <div class="container content split-bottom" v-show="!simple">
    <div class="row" style="position: relative;">
      %%TOP_INFO_BLOCK%%
      <div class="ad_45">
        <a href="http://bongacams.com/track?c=567851" class="ad_45__btn" rel="nofollow" target="_blank">
          <span aria-hidden="true" class="glyphicon glyphicon-triangle-right" style="vertical-align: text-top;"></span>
          Вебкам
        </a>
      </div>
    </div>
  </div>

  <info-widget></info-widget>

  <!-- build:include search-results.htm --><!-- /build -->

  <div v-show="!simple">
  %%SLIDER_FOOTER%%
  </div>
  <!-- build:include ../../_common/info-links.htm --><!-- /build -->
  <!-- build:include ../../_common/option-static.htm --><!-- /build -->
</div>

%%BLOCK_COUNTER_ALL%%
<!-- build:include ../../_common/footer.htm --><!-- /build -->
<script type="text/javascript">
    // var addthis_config = {"data_track_addressbar":false};
    //     addthis_config.data_track_addressbar = false;
    //     addthis_config.data_track_clickback = false;
</script>
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-593e8bd77e5130d5"></script>

</body>
</html>

