 <div id="index_cent">   <!-- центр 100%  display: none; -->
  %%TOP_INFO_BLOCK%%

  %%SEARCH_BLOCK%%
  %%BLOCK_STATIC_TIP%%
  <!-- build:include ../../_common/ad-top.htm --><!-- /build -->
  %%TIP_FORM_BLOCK%%
  %%INFO_TEXT_SCH%%

  <div style="margin-top: 0px; border-bottom: 1px solid #EEE; min-height: 350px;">
   %%ERROR_SEARCH_ALT%%
   %%ANKETA_ALERT%%

   %%SEARCH_LIST_USER%%

   %%SEARCH_PAGE_LINKS%%
   %%SEARCH_TAG_LIST%%
  </div>

  <a id="block_static_alert" href="%%LINK_MORE_HOW%%" target="_blank">
    %%STATIC_ALERT_TEXT%%
  </a>

   %%BLOCK_FLOOR%%
   %%BLOCK_COUNTER_ALL%%
   %%QUEST_UNDER_PAGE%%
   %%STAT_INFO_FLOOR%%
  </div>


<!-- build:include ../../_common/option-static.htm --><!-- /build -->
</div>  <!-- центр 100% -->
<!-- build:include ../../_common/giper-chat.htm --><!-- /build -->
