.cliche-item {
  display: inline-block;
  margin-right: @indent-sm;
  margin-bottom: @indent-xs;
  text-decoration: underline;
  text-decoration-style: dotted;
  text-decoration-color: @gray-light;
  cursor: pointer;
}