
<script type="text/x-template" id="content-activity">
  <div class="content-activity" @click.self="close">
    <nav id="menu-user" class="navbar navbar-inverse">
      <div class="menu-user">
        <div class="menu-user__wrapper">
          <div class="menu-user__logo">
            <span id="home_page" class="" style="padding: 10px 0px;" @click="close">
              <img src="/static/img/icon/arrow_back.png" width="30" height="30" alt="" border="0" >
            </span>
          </div>
          <div class="menu-user__navbar" >
            <div class="navbar-title" @click="$emit('close')">
              <slot name="caption">{{title}}</slot>
            </div>
          </div>
          <slot name="option"></slot>
        </div>
      </div>
    </nav>
    <div class="activity__container">
      <div class="activity__content">
        <div class="activity__loader" v-show="loader && !error">Загружаю...</div>
        <div v-html="text"></div>

        <div>
          <div class="image-galery" v-if="galery.length">
            <span class="image-galery__item" :style="{backgroundImage: 'url(' + item + ')'}" v-for="(item, index) in galery" @click="show(index)"></span>

            <photo-send v-if="preview" :photo="{photo: preview}" @close="preview = null"/>
          </div>
        </div>

        <div>
          <a class="btn btn-primary" :href="more" target="_blank" v-show="more">
            <span aria-hidden="true" class="glyphicon glyphicon-file"></span>
            Основной текст
          </a>
          <a class="btn btn-default" :href="edit" target="_blank" v-show="edit">
            <span aria-hidden="true" class="glyphicon glyphicon-pencil"></span>
            Редактировать
          </a>
        </div>

        <div class="content-reviews" v-if="reviews.length">
          <div class="content-reviews__caption">Отзывы</div>
          <div class="content-reviews__item" :class="item.sex" v-for="(item, index) in reviews">
            <b>{{item.name}}:</b>
            {{item.text}}
            <div class="reply" v-show="item.reply">{{item.reply}}</div>
          </div>
        </div>

        <div>
          <button class="btn btn-default" @click="$router.push('/settings/reviews')"> Оставить отзыв </button>
        </div>

      </div>
    </div>
  </div>
</script>

