.content-activity {
    position: fixed;
    background: @white;

    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;

    top: 0px;
    bottom: 0;
    max-width: 750px;
    max-height: 100%;
    overflow: hidden;
    z-index: 1;

    .activity__container {
        height: calc(~"100% - 50px");
    }
    .activity__content {
        padding-bottom: @indent-xl;
        h1 {
            margin-top: @indent-xs;
        }
    }

    .image-galery {
        margin: 20px 0px 20px;
        font-size: 0;
        &__item {
            width: 175px;
            height: 175px;
            // 20*2 от края, 2*4 между, 2 костыль
                @media (max-width: 500px) {
                    @indent: (20*2 + 2*4 + 2) / 3;
                    width:  ~"calc(33.33vmin - @{indent}px)";
                    height:  ~"calc(33.33vmin - @{indent}px)";
                }
                @media (max-width: 735px) and (min-width: 500px) {
                    @indent: (20*2 + 2*4 + 2) / 4;
                    width:  ~"calc(25vmin - @{indent}px)";
                    height:  ~"calc(25vmin - @{indent}px)";
                }
            border: 5px solid @white;
            position: relative;
            display: inline-block;
            background-size: cover;
            background-position: center;
            box-shadow: 0 0 5px @gray;
            margin: 0 2px 2px 0;
        }
    }


    .content-reviews {
        margin: 20px 0 20px;

        &__caption {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 15px;
            padding: 10px 0px;
            border-bottom: 1px solid @gray;
        }

        &__item {
            border-radius: 0px;
            border-top: 0px solid #cccccc;
            margin: 15px 0 0 0px;
            text-align: left;
            font-size: 16px;

            &.man b {
                border-top: 0px solid #669933;
                color: #669933;
            }
            &.woman b {
                border-top: 0px solid #c082c0;
                color: #c082c0;
            }
            .reply {
                background: @light;
                border-left: 3px solid @gray-dark;
                margin: 10px 10px 0px;
                padding: 10px 15px;
                font-size: 14px;
            }
        }
    }

}