<script type="text/x-template" id="snackbar">
  <transition name="snackbar">
    <div class="snackbar" @click="close">
      <div class="snackbar__body">
        <div class="snackbar__message">
          <slot></slot>
        </div>
        <div class="snackbar__button" v-if="callback">
          <button class="btn btn-primary btn-sm" @click="approve">{{title}}</button>
        </div>
      </div>
        <audio v-if="1" preload autoplay>
          <source src="/static/sound/incoming.mp3" type="audio/mpeg">
          <source src="/static/sound/incoming.ogg" type="audio/ogg; codecs=vorbis">
        </audio>
    </div>
  </transition>
</script>