.snackbar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    opacity: 0.95;
    z-index: 10000;
    &__body {
        color: @white;
        text-align: left;
        display: inline-block;
        background: @dark-light;
        padding: @indent-sm @indent-lg;
        min-width: 200px;
        max-width: 550px;
        width: 100%;
        border-top: 3px solid @white;
    }
}

.snackbar-enter-active, .snackbar-leave-active {
  transition: all .5s
}
.snackbar-enter, .snackbar-leave-to /* .fade-leave-active для <2.1.8 */ {
  transform: translateY(50px);
}