
@import "_imports.less";

// Width variables (appears count calculates by raw css)
@width0: 1067px; // Appears 2 times
@width3: 180px; // Appears 2 times
@width8: 274px; // Appears 2 times
@width10: 728px; // Appears 4 times
@width11: 320px; // Appears 2 times
@width13: 16px; // Appears 3 times
@width14: 100%; // Appears 3 times
@width17: 7px; // Appears 2 times
@width18: 1px; // Appears 2 times

// Height variables (appears count calculates by raw css)
@height1: 320px; // Appears 3 times
@height3: 40px; // Appears 2 times
@height4: 100%; // Appears 3 times
@height7: 16px; // Appears 3 times
@height8: 55px; // Appears 2 times
@height10: 7px; // Appears 2 times
@height11: 1px; // Appears 2 times

html {
    height:@height4;
    width:@width14;
}
body {
    background: @gray-light;
    color: @dark;
    font-family: Arial, Tahoma, Verdana, sans-serif;
//    font-size: 12px;
    height:@height4;
//    line-height: 1;
    margin: 0;
    width:@width14;
}

.container {
    max-width: 750px;
/*    margin-left: 0;

    @media (min-width: 992px) {
        margin-left: 100px;
    }

    @media (min-width: 1170px) {
        margin-left: 150px;
    }*/
}


.information-partner-block {
    .paper();
}

.form-inline .form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}

.input-group .form-control {
    z-index: 0;
}

a {
    -moz-transition: color 0.2s ease;
    -o-transition: color 0.2s ease;
    -webkit-transition: color 0.2s ease;
    color: @link-color;
    transition: color 0.2s ease;
}
form {
    margin: 0px;
    padding: 0px;
}
.form-inline .input-group {
    display: inline-table;
    vertical-align: middle;
}
.input-group-addon {
    width: auto;
}
textarea {
    display: block;
    margin: 0px;
    min-height: 60px;
    padding-bottom: 9px;
    resize: vertical;
    width: @width14;
}
input[type=file] {
    display: inline-block;
}
label {
    font-weight: normal;
}

.elem_online {
    background: @white;
    border-radius: 3px;
    border: 1px solid @orange;
    color: @orange;
    display: inline-block;
    font-size: 11px;
    margin-right: 5px;
    padding: 0px 3px 1px;
}
.elem_time {
    background: @white;
    border-radius: 3px;
    border: 1px solid @gray-dark;
    color: @gray-dark;
    display: inline-block;
    font-size: 11px;
    margin-right: 5px;
    padding: 0px 3px 1px;
}
.elem_your {
    background: @white;
    border-color: @green;
    border-radius: 3px;
    border: 1px solid @green;
    color: @green;
    display: inline-block;
    font-size: 11px;
    margin-right: 5px;
    padding: 0px 3px 1px;
}
.left_vision {
    float: right;
}
.search {
    color: @dark-light;
    font-size: 12px;
    margin-left: 10px;
    text-decoration: none;
    &:hover {
        color: @dark;
    }
}
.social_lab {
    display: inline-block;
    height: @height7;
    margin-right: 5px;
    position: relative;
    text-decoration: none;
    vertical-align: middle;
    width: @width13;
}
.vk {
    background: url(/img/icon/ct_vk.png) no-repeat left center;
}
.sk {
    background: url(/img/icon/ct_sk.png) no-repeat left center;
}
.ok {
    background: url(/img/icon/ct_ok.png) no-repeat left center;
}
.fb {
    background: url(/img/icon/ct_fb.png) no-repeat left center;
}
.ph {
    background: url(/img/icon/ct_ph.png) no-repeat left center;
}
.em {
    background: url(/img/icon/ct_em.png) no-repeat left center;
}
.go {
    background: url(/img/icon/ct_go.png) no-repeat left center;
}

@import "user-list.less";
@import "menu-user.less";

#block_static_tip {
    background: @green;
    border-radius: 0px;
    color: @white;
    display: block;
    font-size: 14px;
    font-weight: normal;
    padding: 10px 20px;
    u {
        border-bottom: 1px dashed @white;
        display: inline-block;
        text-decoration: none;
    }
}

.clearFix {
    &::after {
        clear: both;
        content: "";
        display: block;
        height: 0;
        overflow: hidden;
    }
}
.user {
    border-bottom: 1px solid @light;
    color: @dark;
    display: block;
    font-size: 14px;
    padding: 12px 7px;
    position: relative;
    text-align: left;
    a.mail_link {
        text-decoration: none;
    }
}
.user.visited {
    background: @light;
}
.user.gray {
    color: @gray;
}
span.name {
    color: @dark;
    text-decoration: none;
}
span.age {
    color: @red-dark;
    text-decoration: none;
}
span.town {
    border-bottom: 0px dashed @link-color;
    color: @link-color;
    text-decoration: none;
}
.gray {
    span.name {
        color: @gray-dark;
        text-decoration: none;
    }
    span.age {
        color: @gray;
        text-decoration: none;
    }
    span.town {
        border-bottom: 0px dashed @link-color;
        color: @gray;
        text-decoration: none;
    }
}
a.name {
    color: @dark;
    text-decoration: none;
    &:hover {
        color: @black;
    }
}
.inti_lab {
    color: @pink-dark;
    font-size: 11px;
    margin-right: 5px;
    text-decoration: none;
}
.virt_lab {
    color: @green;
    font-size: 11px;
    margin-right: 5px;
    text-decoration: none;
}
.feti_lab {
    color: @pink;
    font-size: 11px;
    margin-right: 5px;
    text-decoration: none;
}
.bdsm_lab {
    color: @gray-dark;
    font-size: 11px;
    margin-right: 5px;
    text-decoration: none;
}
.list_user_new,
.marker {
    background: White;
    border-radius: 5px;
    display: inline-block;
    height: @height10;
    margin-right: 5px;
    width: @width17;

}
.list_user_new {
    background: @green-light;
}

.notepad, .new_client, .reply_mess, .new_message  {
    background: @white;
    border-radius: 2px;
    border: 1px solid @orange;
    display: none;
    margin-bottom: 10px;
    overflow: hidden;
    width: 300px;
}
.notepad {
    border: 1px solid @gray-dark;
    bottom: 10px;
    display: none;
    height: 350px;
    position:fixed;
    right: 10px;
    width: @width11;
    z-index: 777;
    .title {
        background: @gray-dark;
    }
    .bunn {
        background: @gray-dark;
        &:hover {
            background: @gray-dark;
        }
    }
}
.reply_mess {
    border: 1px solid @dark;
    display: block;
    position: relative;
    .title {
        background: @dark;
    }
    .bunn {
        background: @dark;
        &:hover {
            background: @dark;
        }
    }
}
.reply_line {
    border-bottom: 1px solid @gray-light;
    cursor: pointer;
    display: block;
    padding: 10px 5px;
    input {
        bottom: 2px;
        margin: 0px 5px;
        position: relative;
        vertical-align: middle;
    }
}
.note_line {
    border-bottom: 1px solid @gray-light;
    cursor: pointer;
    display: block;
    padding: 10px 5px;
    &:hover {
        background: GhostWhite;
    }
}
.line_on {
    background: @light;
}
.timer {
    color: @gray-light;
    display: none;
    position: absolute;
    right: -100px;
    top: 150px;
}

@import "option-static.less";

@import "footer.less";

@import "index.less";
@import "profile.less";
@import "details.less"; 
@import "ad-button.less";

@import "../vue-components.less";
