
/*-- menu user ---------------------------------------------------------------*/

#menu-user {
    &.navbar {
        margin-bottom: 0px;
    }
}

.navbar {
    border-radius: 0px;
    &.navbar-inverse {
      background: @menu-color;
      border-width: 0px;
    }
}


.navbar-inverse {
    .navbar-nav {
        font-size: 15px;
        li {
            a {
                color: @white;
            }
            .material-icons {
                line-height: 15px;
                max-width: 24px;
                vertical-align: middle;
                position: relative;
                bottom: 1px;
            }
            &:hover {
                background: @menu-hover;
            }
        }
    }
    .navbar-text {
        color: @white;
        cursor: pointer;
    }
}

div.menu_user_outer {
    background: @menu-color;
    height: @height8;
    margin: 0 0 0 0;
    padding: 0;
    text-align: center;
    a {
        color: @light;
        text-decoration: none;
        &:hover {
            color: @white;
        }
    }
}
div.menu_user_inner {
    overflow: hidden;
    padding: 0;
    text-align: left;
}
#home_page {
    //display: inline-block;
    //float: left;
    //margin-left: 15px;
    //margin-top: 17px;
    //width: 35px;
}
ul.menu_user,
ul.menu_user li,
ul.menu_user_right,
ul.menu_user_right li  {
    list-style:none;
    display: inline-block;
    float: left;
    margin: 0;
    padding: 0;
}
ul.menu_user_right {
    float: right;
}
ul.menu_user {
    li {
        a {
            &:hover {
                background: @menu-hover;
            }
        }
    }
}

.menu-user {
    &__item {
        list-style:none;
        display: inline-block;
        float: left;
        margin: 0;
        padding: 0;

        &:hover {
            background: @menu-hover;
        }
    }
}

.menu-button {
    color: @white;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    height: @height8;
    line-height: @height8;
    padding: 0px 10px;

    img {
        bottom: 1px;
        position: relative;
        vertical-align: middle;
    }
    .glyphicon {
        top: -1px;
        position: relative;
        display: inline-block;
        vertical-align: middle;
    }
}

li.menu_user_link,
li.menu_user_link_shop a  {
    color: @white;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    height: @height8;
    line-height: @height8;
    padding: 0px 10px;
}



li.menu_user_link {
    img {
        bottom: 1px;
        position: relative;
        vertical-align: middle;
    }
    .glyphicon {
        top: -1px;
        position: relative;
        display: inline-block;
        vertical-align: middle;
    }
}
li.menu_user_link_exit {
    float: left;
    span {
        &:hover {
            background: @menu-color;
        }
    }
}
li.menu_user_name_string {
    span {
        border-bottom: 1px dashed @menu-light;
        color: @menu-light;
        cursor: pointer;
        font-size: 15px;
        line-height: @height8;
        margin: 0px 5px;
    }
}
li.menu_user_link_shop {
    a {
        color: @gray-dark;
        font-size: 13px;
        padding-right: 15px;
    }
}
li.menu_user_link_ear {
    width: 0px;
    width: 350px;
}

/*----------------------------------------------------------------------------*/