
#option-static {
    bottom: 0px;
    display: none;
    left: 0px;
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 100;
}
#option-static__cover {
    background: @gray;
    bottom: 0px;
    left: 0px;
    opacity: 0.5;
    position: absolute;
    right: 0px;
    top: 0px;
}
#option-static__loader {
    background: url(/static/img/icon/loader_static96.png) center center no-repeat;
    bottom: 0px;
    display: none;
    left: 0px;
    position: absolute;
    right: 0px;
    top: 0px;
}
#option-static__wrapper {
    bottom: 0px;
    left: 0px;
    padding: 10px 10px;
    position: absolute;
    right: 0px;
    top: 0px;
}
#option-static__container {
    background: @white;
    padding: 20px 10px 25px;
}
#option-static__close {
    background: @white;
    color: @gray-dark;
    cursor: pointer;
    font-size: 15px;
    padding: 5px 10px;
    position: absolute;
    right: 10px;
    top: 10px;
}
