
<script type="text/x-template" id="contact-wizard">
  <modal-dialog @close="close">
    <div class="modal-dialog__wrapper">
      <div class="modal-dialog__section">
        Ваше имя:<br>
        <input class="form-control" type="text" v-model="selectName" @blur="saveName" placeholder="Ваше имя">
      </div>
      <div class="modal-dialog__section">
        Город:<br>
        <city-suggest :city="selectCity" @select="saveCity"/>
      </div>
      <div class="modal-dialog__section">
        Возраст:<br>
        <select class="form-control" v-model.number="selectAge" @change="saveAge">
          <option v-for="(item, index) in _.range(16, 81)" :value="item" >{{item ? item : ''}}</option>
        </select>
      </div>
      <div class="human-dialog__footer">
        <button class="btn btn-primary" @click="approve">Продолжить</button>
      </div>
    </div>
  </modal-dialog>
</script>