
<script type="text/x-template" id="quick-reply">
  <div>
    <modal-dialog @close="close">
      <div class="human-dialog__caption">
        Быстрый ответ
      </div>
      <div class="human-dialog__body">
        <div class="human-dialog__desire" v-show="tags.length">
          <span class="link_simple" v-for="(tag, index) in tags" :key="index" v-show="tag">{{tag}} &#8226; </span>
        </div>
        <div class="human-dialog__message" v-show="message" v-html="message"></div>
      </div>


      <div class="message-input">
        <textarea class="message-input__texarea" rows="1" placeholder="Введите текст" v-model="text" v-resized
          @keyup.ctrl.enter.prevent="send()"></textarea>
          <button class="btn btn-primary" @click="added ? (addition = true) : send()">Отправить</button>
          <button class="btn btn-default" @click="account()">Смотреть анкету</button>
      </div>
      <loading-wall :show="loading"/>
      <loading-cover :show="process"/>
    </modal-dialog>

      <attention-wall :show="hold" v-if="hold" @close="cancel" @remove="remove"/>
      <captcha-dialog v-if="captcha" @close="close" @cancel="cancel" @send="setCode"/>

    <contact-wizard v-if="addition"
      :humanCity = "human.city"
      :humanAge = "human.age"
      @approve="send()"
      @close="addition = false"/>
  </div>
</script>

