
<script type="text/x-template" id="account-settings">
  <closed-activity @close="close">
    <div class="activity-section">
      <div class="activity-section__title">Мой город:</div>
      <div class="form-inline">
        <city-suggest :city="selectCity" @select="saveCity"/>
      </div>
    </div>

    <div class="activity-section">
      <div class="activity-section__title">Кто вы:</div>
      <div class="radio">
        <label class="radio-inline">
          <input type="radio" v-model.number="selectSex" :value="2" @change="saveSex">
          Девушка
        </label>
        <label class="radio-inline">
          <input type="radio" v-model.number="selectSex" :value="1" @change="saveSex">
          Парень
        </label>
      </div>
    </div>

    <div class="activity-section">
      <div class="activity-section__title">Возраст:</div>
      <div class="form-inline">
        <select class="form-control" v-model.number="selectAge" @change="saveAge">
          <option v-for="(item, index) in _.range(16, 81)" :value="item" >{{item ? item : ''}}</option>
        </select>
      </div>
    </div>

    <div class="activity-section">
      <div class="activity-section__title">Имя:</div>
      <div class="form-inline">
        <input class="form-control" type="text" v-model="selectName" @blur="saveName" placeholder="Ваше имя">
      </div>
    </div>

    <div class="activity-section">
      <span class="link_simple" @click="$router.push('other')">Другие настройки</span>
    </div>

    <div class="activity-section">
      <span class="link_simple" @click="$router.push({ name: 'login' })">Уже есть анкета?</span>
    </div>

  </closed-activity>
</script>
