
<script type="text/x-template" id="account-component">
  <div key="humanId">
    <div class="account-section">
      <div class="human-info__general">
        <span class="human-info__name">{{human.name}}</span>
        <span class="human-info__age">{{age}}</span>
        <span class="human-info__ago">({{ago}})</span>
      </div>
      <div>
        <span class="human-info__city">{{human.city}}</span>
      </div>
    </div>

    <div class="account-section" v-if="who">
      <div class="account-section__header">Я ищу</div>
      <div class="human-info__search">
        <a class="gray_link" :href="search" target="_blank" rel="noopener" @click.prevent.stop>{{who}}</a>
      </div>
    </div>

    <div class="account-section" v-if="human.anketa">
      <div class="account-section__header">Обо мне</div>
      <div class="human-info__about">
        Я {{human.sex == 1 ? 'парень' : 'девушка'}}
        <span v-show="figure">{{figure}} телосложения</span>
      </div>
      <div class="human-info__measure">
        <span v-show="human.anketa.growth">Мой рост: {{human.anketa.growth}} см, </span>
        <span v-show="human.anketa.weight">Вес:  {{human.anketa.weight}} кг</span>
      </div>
    </div>

    <div class="account-section" v-if="social">
      <div class="account-section__header">У меня есть</div>
      <div class="human-social">
        <i class="human-social__email" v-show="social.em">Емайл</i>
        <i class="human-social__vkontakte" v-show="social.vk">Вконтакте</i>
        <i class="human-social__google-plus" v-show="social.go">Google-plus</i>
        <i class="human-social__odnoklassniki" v-show="social.ok">Одноклассники</i>
        <i class="human-social__facebook" v-show="social.fb">Facebook</i>
      </div>
    </div>

    <div class="human-contacts" v-if="interact">
      <div><i class="human-contacts__phone" v-show="interact.ph">Обязательно позвоню или дам номер телефона</i></div>
      <div><i class="human-contacts__skype" v-show="interact.sk">Согласен на видеозвонок или видеочат по скайпу</i></div>
    </div>

    <div class="account-section" v-if="tags.length">
      <div class="account-section__header">Мои желания и фантазии</div>
      <div class="desire-tag__list">
        <desire-list :tags="tags"></desire-list>
      </div>
    </div>
  </div>
</script>

