
<script type="text/x-template" id="abuse-dialog">
  <div>
    <modal-dialog @close="$emit('close')">
      <div class="dialog-caption warning">
        <div class="dialog-caption__title">Опубликовать замечание</div>
        <div class="dialog-caption__option">
          <a href="/блог/анонимное-замечание-к-анкете/" target="_blank">
            <i class="material-icons" @click="">&#xE88F;</i>
          </a>
        </div>
      </div>
      <div class="list-view abuse-list" v-if="!selected">
        <div class="list-view__item abuse-list__item" v-for="item in items" @click="select(item)">
          <b>{{item.title}}</b>, {{item.text}}
        </div>
      </div>
      <div class="modal-dialog__wrapper capped" v-else>
        <div class="modal-dialog__section">
          <b>{{selected.title}}</b>, {{selected.text}}
        </div>
        <div class="modal-dialog__section">
          <div class="dialog-form">
            <div class="dialog-form__textarea">
              <textarea class="dialog-form__message-text" rows="1" placeholder="Ваш комментарий, по желанию" v-model="comment" v-resized
                @keyup.ctrl.enter.prevent="send()"></textarea>
            </div>
          </div>
        </div>
        <div class="modal-dialog__option">
          <button class="btn btn-warning" @click="send()">
            Отправить
          </button>
          <a href="/блог/анонимное-замечание-к-анкете/" target="_blank"  class="btn btn-link">
            Это анонимно...
          </a>
        </div>
      </div>

      <loading-cover :show="process"/>
    </modal-dialog>
  </div>
</script>

