
<script type="text/x-template" id="initial-dialog">
  <default-activity @close="close">
    <span slot="caption">Знакомства</span>

    <div class="menu-user__navbar-right" slot="option">
      <div class="navbar-button" @click="$router.push('/settings/search')">
        <i class="material-icons">&#xE8B8;</i>
        Настроить
      </div>
    </div>

    <div class="contact-list" v-if="count">
      <contact-item v-for="(item, index) in contacts" :key="index"
        :item="item"
        :index="index"
        :idle="idle(item)"
        quick="true"
        @bun="bun"
        @read="read"
        @close="close"
        @accept="modals.acceptSettings = true"
        @remove="remove"/>
    </div>
    <div class="activity__content" v-else>
      <div class="hint-info">
        Здесь будет список поступивших вам предложений знакомства.
        Список отправленных посмотреть нельзя.
      </div>
      Все ответы приходят во вкладку "Общение". Кружочки могут светиться без причины.
      Пишите сообщения - это Бесплатно, а значит всё честно и реально!

    </div>

    <div class="contact-list__next">
      <div class="btn btn-default btn-sm" @click="next()" :disabled="response == false" v-show="more">
        Следующие
      </div>
    </div>
    <settings-inform v-if="modals.acceptSettings"
     @close="modals.acceptSettings = false"
     @confirm="accept"/>
    <router-view @sended="splice"></router-view>
  </default-activity>
</script>


<script type="text/x-template" id="intimate-dialog">
  <default-activity @close="close">
    <span slot="caption">Общение</span>

    <div class="menu-user__navbar-right" slot="option">
      <div class="navbar-button" @click="$router.push('/protect')">
        <i class="material-icons">&#xE53F;</i>
        Защитить
      </div>
    </div>

    <div class="contact-list" v-if="count">
      <contact-item v-for="(item, index) in contacts" :key="index"
        :item="item"
        :index="index"
        :quick="quick"
        @bun="bun"
        @read="read"
        @close="close"
        @remove="remove"/>
    </div>
    <div class="activity__content" v-else>
      <div class="hint-info">
        Здесь будет список ваших контактов, сообщений, диалогов. Чтобы начать общение, нужно Познакомиться.
      </div>
      Воспользуйтесь Поиском, отправьте первое сообщение, это и будет предложением знакомства.
    </div>

    <div class="contact-list__next">
      <div class="btn btn-default btn-sm" @click="next()" :disabled="response == false" v-show="more">
        Следующие
      </div>
    </div>
    <messages-activity @close="dialog = false" :humanId="dialog" :title="title" v-if="dialog"/>

    <router-view @sended="splice"></router-view>
  </default-activity>
</script>
