
<script type="text/x-template" id="ad-top">
  <div v-if="enabled">
  <!-- build:remove:dev -->
    <div class="container hidden-xs" v-if="desktop">
      <div class="row" style="border-bottom: 2px solid #e5e5e5; text-align: center; line-height: 0;" v-if="iframe">
        <iframe scrolling="no" frameborder="0" width="750" height="90" src="http://tools.bongacams.com/promo.php?c=568424&type=dynamic_banner&pt=http&db%5Bwidth%5D=750&db%5Bheight%5D=90&db%5Btype%5D=live&db%5Bmodel_zone%5D=free&db%5Bheader%5D=0&db%5Bfooter%5D=none&db%5Bmlang%5D=0&db%5Bfullscreen%5D=&db%5Bmname%5D=0&db%5Bmlink%5D=0&db%5Bmstatus%5D=1&db%5Bmsize%5D=custom&db%5Bmpad%5D=13&db%5Bmwidth%5D=107&db%5Bcolor_scheme%5D=default&db%5Bmborder%5D=solid&db%5Bmborder_color%5D=%23ffffff&db%5Bmborder_over_color%5D=%23a02239&db%5Bmshadow%5D=0&db%5Bmodels_by_geo%5D=0&db%5Bautoupdate%5D=1&db%5Btopmodels%5D=1&db%5Blanding%5D=chat&db%5Blogo_color%5D=default&db%5Bbg_color%5D=%23e80092&db%5Bfont_family%5D=Arial&db%5Btext_align%5D=center&db%5Btext_color%5D=%23000000&db%5Blink_color%5D=%23a02239&db%5Beffect%5D=auto&db%5Beffect_speed%5D=optimal&db%5Bmode%5D=mode1"></iframe>
      </div>
      <div class="row" style="border-bottom: 2px solid #e5e5e5;" v-else>
        <!-- if `iframe` == false -->
      </div>
    </div>
    <div class="container visible-xs-block" v-else-if="width">
      <div class="row">
        <a href="//bongacams.com/track?c=570031" rel="nofollow" target="_blank" >
          <img :src="source" style="width: 100%;">
        </a>
      </div>
    </div>
  <!-- /build -->
  </div>
</script>
