
<script type="text/x-template" id="ad-top">
  <div v-if="enabled">
  <!-- build:remove:dev -->
    <div class="container hidden-xs" v-if="desktop">
      <div class="row" style="border-bottom: 2px solid #e5e5e5; text-align: center; line-height: 0;" v-if="iframe">
        <iframe sandbox="allow-scripts" scrolling="no" frameborder="0" width="750" height="90" src="/ad.htm"></iframe>
      </div>
      <div class="row" style="border-bottom: 2px solid #e5e5e5;" v-else>
        <a href="//runetki.com/" rel="nofollow" target="_blank" >
          <img :src="source" style="width: 100%;">
        </a>
      </div>
    </div>
    <div class="container visible-xs-block" v-else-if="width">
      <div class="row">
        <a href="//runetki.com/984787/" rel="nofollow" target="_blank" >
          <img :src="source" style="width: 100%;">
        </a>
      </div>
    </div>
  <!-- /build -->
  </div>
</script>
